
@{
    ViewBag.Title = "Chuyên khoa Tim mạch ";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Styles {
    <link href="~/asset/style/page/post.min.css" rel="stylesheet" />
    <link href="~/asset/css/cssgroup.css" rel="stylesheet" />
}



<div class="container-lg py-4">
    <div class="row">
        <nav style="--bs-breadcrumb-divider: '»';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                <li class="breadcrumb-item active">Chuyên khoa Tim mạch</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-9">
            <article class="blog-post">
                <h2 class="blog-post__title">
                    Chuyên khoa Tim mạch
                </h2>
                <p>
                    Theo thống kê của Tổ chức Y tế Thế giới, nhóm các bệnh lý tim mạch là một trong những nguyên
                    nhân gây tỷ lệ tử vong cao nhất. Mỗi năm, nhóm bệnh này cướp đi mạng sống của khoảng hơn 17,5 triệu
                    người. Chuyên khoa Tim mạch thuộc Hệ thống Y tế Thu Cúc TCI quy tụ đội ngũ chuyên gia hàng đầu cùng
                    hệ thống máy móc, trang thiết bị hiện đại giúp thăm khám và điều trị hiệu quả, góp phần bảo vệ trái
                    tim và sức khỏe cho nhiều người bệnh.
                </p>
                <div class="blog-post__content">
                    <h2 class="blog-post-content-title">1. ĐỘI NGŨ CHUYÊN GIA HÀNG ĐẦU VỀ TIM MẠCH TRỰC TIẾP THĂM KHÁM</h2>
                    <p>
                        Tại Hệ thống y tế Thu Cúc TCI, người bệnh được các chuyên gia hàng đầu trong lĩnh vực Tim mạch trực
                        tiếp khám, chẩn đoán và điều trị như:
                    </p>
                    <h3 class="blog-post-content-title-chill">
                        1.1 Đại tá, PGS.TS, BSCK II Nội chung, Thầy thuốc nhân dân Nguyễn Văn Quýnh
                    </h3>
                    <div class="blog-post__img">
                        <img src="~/asset/specialist/1.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Đại tá, PGS.TS, BSCK II Nội chung, Thầy thuốc nhân dân Nguyễn Văn Quýnh, chuyên gia tim
                            mạch hơn 40 năm kinh nghiệm chăm sóc sức khỏe cho cán bộ cấp cao trong Quân đội
                        </p>
                    </div>
                    <p>
                        Đại tá, PGS.TS, BSCK II Nội chung, Thầy thuốc nhân dân Nguyễn Văn Quýnh – Bác sĩ tại Chuyên khoa Tim mạch, Bệnh viện ĐKQT Thu Cúc là chuyên gia Tim mạch hàng đầu tại Việt Nam. PGS.TS, BSCK II Nguyễn Văn Quýnh có hơn 40 năm kinh nghiệm chăm sóc sức khỏe cho cán bộ cấp cao trong Quân đội. Nguyên là Chủ nhiệm khoa Nội cán bộ A1– Bệnh viện Trung Ương Quân đội 108.
                    </p>
                    <h3 class="blog-post-content-title-chill">
                        1.2 Bác sĩ CK II, Thầy thuốc ưu tú Nguyễn Văn Khuê
                    </h3>
                    <div class="blog-post__img">
                        <img src="~/asset/specialist/2.jpg"  class="blog-post__caption" />
                        <p class="blog-post__note">
                            Bác sĩ CK II, Thầy thuốc ưu tú Nguyễn Văn Khuê hơn 30 năm và điều trị tim mạch.
                        </p>
                    </div>
                    <p>
                        Bác sĩ CK II, Thầy thuốc ưu tú Nguyễn Văn Khuê với hơn 30 năm kinh nghiệm và từng đảm nhiệm nhiều vị trí quan trọng: Nguyên Chủ nhiệm Khoa khám bệnh Bệnh viện TƯ Quân đội 108. Bác sĩ Khuê cũng từng có thời gian nghiên cứu và tập huấn chuyên môn tại Nhật Bản.
                    </p>
                    <h3 class="blog-post-content-title-chill">
                        1.3 Bác sỹ CKII Y học lao động Nguyễn Ngọc Lân
                    </h3>
                    <div class="blog-post__img">
                        <img src="~/asset/specialist/3.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Bác sỹ CKII Y học lao động Nguyễn Ngọc Lân, có kinh nghiệm thăm khám và điều trị nhiều bệnh lý Nội khoa, trong đó có các bệnh tim mạch.
                        </p>
                    </div>
                    <p>
                        Bác sỹ CKII Y học lao động Nguyễn Ngọc Lân đang công tác tại Khoa khám bệnh Thu Cúc TCI, nguyên là Chủ nhiệm khoa Nội chung tại Bệnh viện tuyến cuối Quân đội (Y học Hàng không). Bác sỹ có kinh nghiệm thăm khám và điều trị nhiều bệnh lý Nội khoa, trong đó có các bệnh tim mạch.
                    </p>

                    <h2 class="blog-post-content-title">2. PHẠM VI ĐIỀU TRỊ </h2>
                    <p>
                        Chuyên khoa Tim mạch thuộc Hệ thống Y tế Thu Cúc là nơi thăm khám và điều trị hiệu quả nhiều bệnh lý về tim mạch như:
                        <br />
                        – Khám và điều trị nội khoa các rối loạn về nhịp tim như block nhĩ thất, rung nhĩ, cuồng nhĩ, nhịp nhanh trên thất, nhịp nhanh thất, nhịp nhanh có ngoại tâm thu nhĩ và thất, rung thất,…
                        <br />

                        – Khám và điều trị nội khoa các bệnh lý van tim bao gồm hở hoặc/và hẹp các van tim 2 lá, 3 lá, van động mạch chủ, van động mạch phổi.
                        <br />

                        – Khám và điều trị nội khoa các bệnh lý cơ tim như viêm cơ tim, thiếu máu cơ tim, nhồi máu cơ tim…
                        <br />

                        – Khám và điều trị nội khoa bệnh xơ vữa mạch vành, co thắt mạch vành…
                        <br />

                        – Khám và điều trị nội khoa bệnh động mạch ngoại biên, suy giãn tĩnh mạch chi dưới…
                        <br />

                        – Khám và điều trị nội khoa các bệnh tim bẩm sinh.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/specialist/4.jpg"  class="blog-post__caption" />
                        <p class="blog-post__note">
                            Chuyên khoa Tim mạch – Hệ thống Y tế Thu Cúc là địa chỉ uy tín được nhiều người
                            nổi tiếng tin tưởng và lựa chọn.
                        </p>
                    </div>

                    <h2 class="blog-post-content-title">3. DẪN ĐẦU CÔNG NGHỆ, HỆ THỐNG TRANG THIẾT BỊ TÂN TIẾN</h2>
                    <p>
                        Xác định bệnh tim mạch là một trong những bệnh lý với nhiều biến chứng nguy hiểm, Hệ thống y tế Thu Cúc TCI đã trang bị những thiết bị y tế hiện đại nhất giúp tầm soát bệnh sớm ngay từ giai đoạn đầu. Cụ thể như:
                    </p>
                    <h3 class="blog-post-content-title-chill">
                        3.1 Hệ thống chụp cắt lớp vi tính đa dãy tại chuyên khoa Tim mạch của Thu Cúc TCI
                    </h3>
                    <p>
                        Hệ thống chụp cắt lớp CT đa dãy 32 -128 dãy giúp chụp hệ mạch và chẩn đoán bệnh động mạch vành, cho phép chụp hình động mạch vành không cần đến thủ thuật can thiệp. Thời gian chụp chỉ từ 10 phút và không gây ra bất kỳ khó chịu nào.
                    </p>
                    <p>
                        Chụp CT đa dãy mạch – tim có thể phát hiện bệnh lý hẹp mạch vành, dị dạng mạch vành và các bệnh lý tim mạch thông thường như thông liên thất, thông liên nhĩ, tứ chứng fallot, tim một tâm thất. Trong đó, độ chính xác của chụp mạch vành tim trên CT 64 lát cắt là khoảng 97%, với CT 128 dãy còn cho độ chính xác vượt trội hơn.
                    </p>

                    <h3 class="blog-post-content-title-chill">
                        3.2 Hệ thống máy chụp cộng từ nguyên lý H2
                    </h3>
                    <p>
                        Chụp cộng hưởng từ MRI nguyên lý H2 có độ phân giải hình ảnh cao, tương phản mô mềm cao, nhiều mặt cắt khác nhau, không dùng tia xạ và không xâm lấn. Đây là một kĩ thuật chẩn đoán hình ảnh tim mạch đang được ứng dụng rộng rãi hiện nay nhằm phát hiện sớm các bệnh lý tim bẩm sinh, viêm cơ tim, bệnh mạch vành, bệnh lý van tim, u tim nguyên phát hoặc thứ phát: MRI cung cấp các hình ảnh về tính chất khối u, nhờ đó mà bác sĩ chẩn đoán, xác định và đánh giá được mức độ xâm lấn của khối u,…
                    </p>
                    <p>
                        Hiện tại, Hệ thống y tế Thu Cúc đã trang bị máy chụp cộng hưởng từ MRI hiện đại bậc nhất tại 3 cơ sở 286 Thụy Khuê, 216 Trần Duy Hưng, 32 Đại Từ, tạo điều kiện cho bệnh nhân kiểm tra sức khỏe, khám bệnh thuận lợi và hiệu quả.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/specialist/5.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Chụp cộng hưởng tử MRI là kĩ thuật chẩn đoán hình ảnh tim mạch hiện đại, không sử dụng tia X, đặc biệt an toàn cho người bệnh kể cả người già, trẻ nhỏ và phụ nữ mang thai.
                        </p>
                    </div>

                    <h3 class="blog-post-content-title-chill">
                        3.3 Hệ thống máy điện tâm đồ tại tại chuyên khoa Tim mạch của Thu Cúc TCI
                    </h3>
                    <p>
                        Điện tim hay còn gọi là điện tâm đồ (ECG) là một kỹ thuật cận lâm sàng không xâm lấn, không gây đau đớn, là một trong những cơ sở giúp các bác sĩ chẩn đoán những vấn đề bất thường của tim, giúp phát hiện các bệnh về tim mạch như: rối loạn nhịp tim, suy tim, nhồi máu cơ tim, chẩn đoán một số thay đổi, rối loạn về tim nói chung,..
                    </p>
                    <p>
                        Bên cạnh đó, chuyên khoa Tim mạch – Hệ thống y tế Thu Cúc còn sở hữu nhiều trang thiết bị hiện đại khác được nhập khẩu từ các nước có nền y học phát triển nhất hiện nay như Mỹ, Đức, Nhật Bản,…
                    </p>


                    <h2 class="blog-post-content-title">4. PHỤC VỤ NGƯỜI BỆNH TẬN TÌNH, CHU ĐÁO, CHUYÊN NGHIỆP</h2>
                    <p>Bên cạnh đội ngũ bác sĩ giỏi, trang thiết bị hiện đại, Chuyên khoa Tim mạch – Hệ thống Y tế Thu Cúc TCI không ngừng nâng cao chất lượng phục vụ người bệnh, giúp người bệnh thuận tiện nhất trong quá trình đăng ký khám chữa bệnh, tiết kiệm thời gian và cũng không phải tốn nhiều thời gian chờ đợi lâu.</p>
                    <h3 class="blog-post-content-title-chill">4.1 Đặt lịch nhanh chóng</h3>

                    <p>
                        Đặt lịch nhanh chónHệ thống Y tế Thu Cúc TCI áp dụng hệ thống chăm sóc khách hàng và đặt lịch khám qua tổng đài 1900 55 88 92, giúp phục vụ người bệnh tận tình, chu đáo và nhanh chóng.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/specialist/6.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Hệ thống Y tế Thu Cúc TCI hỗ trợ tư vấn, đặt lịch khám nhanh chóng qua tổng đài giúp người bệnh tiết kiệm thời gian tối đa.
                        </p>
                    </div>

                    <h3 class="blog-post-content-title-chill">4.3 Các tiện ích khác</h3>

                    <p>
                        – Thanh toán Bảo hiểm y tế và hợp tác thanh toán với hầu hết các hãng Bảo hiểm bảo lãnh giúp hỗ trợ chi phí tối đa cho người bệnh.
                        <br />
                        <br />
                        – Phòng bệnh sạch sẽ, đầy đủ các trang thiết bị, đội ngũ y bác sĩ, nhân viên y tế phục vụ tận tình, chu đáo.
                        <br />
                        <br />

                        – Làm việc tất cả các ngày trong tuần.
                        <br />
                        <br />

                        Nếu có nhu cầu thăm khám, bệnh nhân vui lòng liên hệ với chúng tôi để được tư vấn và hỗ trợ đặt lịch khám sớm nhất.
                    </p> 
                </div>
            </article>
        </div>

        <div class="col-md-3">
            <div class="position-sticky" style="top: 2rem;">
                <div class="widget-question">
                    <h3>Câu hỏi mới nhất</h3>
                    <hr />
                    <div class="widget-question__container">
                        <ul class="widget-question__list">
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Làm sao để giải độc cơ thể?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Những triệu chứng phổ biến của ung thư phổi giai đoạn đầu</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Các dịch vụ sẽ nhận được khi khám sức khỏe doanh nghiệp tại Thu Cúc TCI</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Rối loạn tiền đình có dễ đột quỵ?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Người mắc đái tháo đường nên ăn những thực phẩm gì?</a></h3></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-news">
                    <h3>Tin tức mới nhất</h3>
                    <hr />
                    <ul class="widget-news__list">
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="form-register">
                    <h3 class="form-register__title">Đăng ký nhận tư vấn</h3>
                    <div class="form-register__container">
                        <p class="text-center">
                            Vui lòng để lại thông tin và nhu cầu của
                            Quý khách để được nhận tư vấn
                        </p>
                        @Html.Partial("~/Views/advise/_Advise.cshtml")

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
