
@{
    ViewBag.Title = "Chuyên khoa Hô hấp";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Styles {
    <link href="~/asset/style/page/post.min.css" rel="stylesheet" />
    <link href="~/asset/css/cssgroup.css" rel="stylesheet" />
}



<div class="container-lg py-4">
    <div class="row">
        <nav style="--bs-breadcrumb-divider: '»';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                <li class="breadcrumb-item active">Chuyên khoa Hô hấp</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-9">
            <article class="blog-post">
                <h2 class="blog-post__title">
                    Chuyên khoa Hô hấp
                </h2>
                <p>
                    Chuyên khoa Hô hấp của Hệ thống Y tế Thu Cúc TCI là địa chỉ uy tín được nhiều người bệnh tin tưởng, lựa chọn khi thăm khám các bệnh lý về hô hấp. Tại Thu Cúc TCI người bệnh được các chuyên gia hàng đầu trong lĩnh vực Nội hô hấp trực tiếp thăm khám, lên phác đồ điều trị và tư vấn sử dụng thuốc cũng như chế độ ăn, uống, nghỉ ngơi và tập luyện để mau chóng phục hồi sức khỏe.
                    <br />
                    <br />
                    Hô hấp là cơ quan quan trọng giữ chức năng trao đổi khí hấp thu oxy và thải ra khí cacbonic duy trì sự sống. Theo thống kê cho thấy trung bình người trưởng thành có thể bị viêm đường hô hấp khoảng 2 – 4 lần mỗi năm. Hiện nay trước sự gia tăng của ô nhiễm môi trường, ô nhiễm không khí, các dịch bệnh như Covid-19 tấn công cùng với các bệnh nền mạn tính sẵn có về hô hấp trước đó, có thể làm tăng nguy cơ mắc các bệnh hô nguy hiểm, ảnh hưởng nghiêm trọng đến sức khỏe và tính mạng của người bệnh.
                </p>
                <div class="blog-post__img">
                    <img src="~/asset/specialist/7.jpg" class="blog-post__caption" />
                </div>
                <div class="blog-post__content">
                    <h2 class="blog-post-content-title">1. Đội ngũ chuyên gia giỏi chuyên môn, giàu kinh nghiệm</h2>
                    <p>
                        Chuyên khoa Hô hấp tại Hệ thống Y tế Thu Cúc TCI hội tụ nhiều chuyên gia, bác sĩ giỏi hàng đầu trong lĩnh vực Nội hô hấp, từng có nhiều năm công tác tại các bệnh viện lớn có trình độ chuyên môn sâu và tâm huyết với nghề như:
                    </p>
                    <strong>* Thầy thuốc ưu tú, Tiến sĩ, Bác sĩ CKII Vũ Văn Triển – Giám đốc Phòng khám ĐKQT Thu Cúc (216 Trần Duy Hưng)</strong>
                    <div class="text__center">Bác sĩ Triển tốt nghiệp Tiến sĩ Nội hô hấp tại Đại học Y Hà Nội. Có hơn 30 năm kinh nghiệm trong nghề, từng công tác tại Bệnh viện Giao thông Vận tải, Sở Y tế Giao thông vận tải và đảm nhận nhiều vị trí quan trọng như: Trưởng khoa Hồi sức cấp cứu, Trưởng khoa Nội truyền nhiễm – Bệnh viện Đường sắt I Hà Nội, Bệnh viện Giao thông Vận tải. Trưởng phòng kế hoạch nghiệp vụ Sở y tế Giao thông vận tải. Phó giám đốc Sở, Phó Cục trưởng Cục y tế Giao thông vận tải chỉ đạo hoạt động khám chữa bệnh tại các bệnh viện, phòng khám trong y tế Ngành Giao thông vận tải.</div>
                    <div class="blog-post__img">
                        <img src="~/asset/specialist/8.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Thầy thuốc ưu tú, Tiến sĩ, Bác sĩ CKII Vũ Văn Triển
                        </p>
                    </div>
                    <p class="entry-content">* <strong>Bác sĩ CKII Trần Thị Minh Hằng:</strong></p>

                    <p>
                        – Nguyên là Trưởng khoa Nội Bệnh viện Xanh Pôn.
                        <br />
                        – Với hơn 30 năm kinh nghiệm trong lĩnh vực hô hấp. Bác sĩ Hằng đã thưc hiện khám và điều trị nhiều ca bênh khó, luôn quan tâm theo sát tình hình diễn biến sức khỏe của người bệnh, sẵn sàng giải đáp thắc mắc của người bệnh để đưa ra phương pháp điều trị tốt nhất cho bệnh nhân.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/specialist/9.png" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Bác sĩ CKII Trần Thị Minh Hằng
                        </p>
                    </div>
                    <p>
                        Ngoài ra, chuyên khoa hô hấp của Thu Cúc TCI còn quy tụ nhiều bác sĩ có chuyên môn giỏi và giàu kinh nghiệm đến làm việc. Khi đến khám, người bệnh được thăm khám cùng các bác sĩ có chuyên môn giỏi, được thực hiện các kỹ thuật xét nghiệm và chẩn đoán cận lâm sàng bằng các máy móc hiện đại giúp chẩn đoán chính xác bệnh, qua đó bác sĩ sẽ xây dựng biện pháp hỗ trợ điều trị sớm để người bệnh phục hồi, giảm thiểu được các biến chứng sức khỏe. Các bác sĩ sẽ theo sát tình trạng bệnh của bệnh nhân để có biện pháp xử trí kịp thời và hiệu quả khi có các bất thường xảy ra trong quá trình thăm khám và điều trị.
                    </p>

                    <h3 class="blog-post-content-title-chill">
                        2. Hệ thống trang thiết bị hiện đại giúp chẩn đoán bệnh chính xác
                    </h3>
                    <div class="blog-post__img">
                        <img src="~/asset/specialist/10.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Hệ thống trang thiết bị hiện đại của TCI giúp chẩn đoán bệnh lý hô hấp hiệu quả.
                        </p>
                    </div>
                    <p>

                        Thu Cúc TCI trang bị hệ thống máy móc, thiết bị y tế hiện đại và tân tiến hàng đầu hiện nay, giúp hỗ trợ quá trình khám và chẩn đoán bệnh được nhanh chóng và chính xác.
                        <br />
                        <br />
                        Trong đó có các máy móc chuyên sâu trong về hô hấp như:
                        <br />
                        <br />
                        – Máy đo chức năng hô hấp
                        <br />
                        <br />
                        – Chụp cắt lớp vi tính lồng ngực đa dãy
                        <br />
                        <br />
                        – Chụp cộng hưởng từ MRI
                        <br />
                        <br />
                        – Chụp X quang
                        <br />
                        <br />
                        – Nội soi tai mũi họng ống mềm
                        <br />
                        <br />
                        – Siêu âm, điện tim,…
                        <br />
                        <br />
                        – Xét nghiệm tự động bằng robot,…
                        <br />
                        <br />
                        Với sự đầu tư trang thiết bị máy móc hiện đại giúp tầm soát phát hiện nhanh chóng và chính xác bệnh lý hô hấp, từ đó các bác sĩ sẽ lên phác đồ điều trị hiệu quả.
                    </p>

                    <h2 class="blog-post-content-title">3. Khám và điều trị nhiều bệnh lý hô hấp</h2>
                    <p>
                        <strong> Chuyên khoa Hô hấp </strong> của Hệ thống Y tế Thu Cúc TCI khám và điều trị nhiều bệnh lý hô hấp như:

                    </p>
                    <ul class="custom-list">
                        <li>Các bệnh lý nhiễm trùng đường hô hấp trên</li>
                        <li>Các bệnh nhiễm trùng đường hô hấp dưới (gồm viêm phế quản cấp, viêm phế quản mạn tính, viêm tiểu phế quản, viêm phổi, áp xe phổi,...)</li>
                        <li>Bệnh hen phế quản</li>
                        <li>Bệnh phổi tắc nghẽn mạn tích (COPD)</li>
                        <li>Giãn, hẹp phế quản</li>
                        <li>Hỗ trợ phát hiện và chẩn đoán bệnh lao</li>
                        <li>Phát hiện, chẩn đoán bệnh ung thư phổi</li>
                        <li>Phát hiện và chẩn đoán bệnh lý trung thất (khối u trung thất)</li>
                        <li>Và một số bệnh lý hô hấp khác về hô hấp,…</li>
                    </ul>
                    <div class="blog-post__img">
                        <img src="~/asset/specialist/11.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Bác sĩ khám và điều trị tận tình, nhân viên phục vụ chu đáo chuyên nghiệp giúp nhiều người hài lòng khi đến thăm khám tại chuyên khoa hô hấp của Thu Cúc TCI.
                        </p>
                    </div>

                    <p>
                        Bên cạnh việc quy tụ đội ngũ gồm nhiều chuyên gia giỏi, giàu kinh nghiệm; hệ thống trang thiết bị máy móc hiện đại; Thu Cúc TCI là điểm đến tin cậy của nhiều người bệnh bởi:
                        <br />
                        <br />
                        – Đội ngũ nhân viên thân thiện, nhiệt tình, chuyên nghiệp
                        <br />
                        <br />
                        – Bác sĩ thăm khám cẩn thận, nhẹ nhàng, tư vấn tận tâm
                        <br />
                        <br />
                        – Tiếp đón và phục vụ tận tình, chu đáo
                        <br />
                        <br />
                        – Đặt lịch khám nhanh, thanh toán dễ dàng và linh hoạt.
                        <br />
                        <br />
                        – Làm việc tất cả các ngày trong tuần
                        <br />
                        <br />
                        – Áp dụng thanh toán Bảo hiểm y tế và Bảo lãnh.
                        <br />
                        <br />
                        Gọi 1900.55.88.92 để được tư vấn và đặt lịch khám cùng các chuyên gia hô hấp của Thu Cúc TCI bạn nhé!
                    </p>

                </div>
            </article>
        </div>

        <div class="col-md-3">
            <div class="position-sticky" style="top: 2rem;">
                <div class="widget-question">
                    <h3>Câu hỏi mới nhất</h3>
                    <hr />
                    <div class="widget-question__container">
                        <ul class="widget-question__list">
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Làm sao để giải độc cơ thể?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Những triệu chứng phổ biến của ung thư phổi giai đoạn đầu</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Các dịch vụ sẽ nhận được khi khám sức khỏe doanh nghiệp tại Thu Cúc TCI</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Rối loạn tiền đình có dễ đột quỵ?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Người mắc đái tháo đường nên ăn những thực phẩm gì?</a></h3></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-news">
                    <h3>Tin tức mới nhất</h3>
                    <hr />
                    <ul class="widget-news__list">
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="form-register">
                    <h3 class="form-register__title">Đăng ký nhận tư vấn</h3>
                    <div class="form-register__container">
                        <p class="text-center">
                            Vui lòng để lại thông tin và nhu cầu của
                            Quý khách để được nhận tư vấn
                        </p>
                        @Html.Partial("~/Views/advise/_Advise.cshtml")

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
