
@{
    ViewBag.Title = "Đấu thầu";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Styles {
    <link href="~/asset/style/page/post.min.css" rel="stylesheet" />
    <link href="~/asset/css/cssgroup.css" rel="stylesheet" />
}



<div class="container-lg py-4">
    <div class="row">
        <nav style="--bs-breadcrumb-divider: '»';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                <li class="breadcrumb-item active">Đấu thầu</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-9">
            <article class="blog-post">
                <h2 class="blog-post__title">
                    Đấu thầu
                </h2>

                <div class="blog-post__content">
                    <div class="row border-bottom pb-5 pt-4">
                        <div class="blog-post__content-new">
                            <img src="~/asset/new/logoface1.png" class="blog-post__content-new-img border" />
                        </div>
                        <div class="blog-post__content-new-text">
                            <h2 class="blog-post__content-new-text-title">
                                Bệnh viện Thu Cúc tổ chức mời thầu
                            </h2>
                            <p class="text-new">
                                Bệnh viện Đa khoa Quốc tế Thu Cúc tổ chức mời thầu các gói thầu sau: 1. Gói thầu số 1: Gói thầu cung cấp thuốc theo tên biệt dược hoặc tương đương điều trị Giá gói thầu: 37.313.298.777 đ (Bằng chữ:...
                            </p>
                            <div class="new-icon">
                                <i class="fa-solid fa-calendar-days pe-2"></i> 12/01/2017
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom pb-5 pt-4">
                        <div class="blog-post__content-new">
                            <img src="~/asset/new/logoface1.png" class="blog-post__content-new-img border" />
                        </div>
                        <div class="blog-post__content-new-text">
                            <h2 class="blog-post__content-new-text-title">
                                Bệnh viện Thu Cúc tổ chức mời thầu
                            </h2>
                            <p class="text-new">
                                Công ty cổ phần y khoa & thẩm mỹ Thu Cúc (sau đây gọi là Bên mời thầu) chuẩn bị tổ chức chào hàng cạnh tranh xây lắp gói thầu số 2 " Thi công xây dựng thô và hoàn thiện phần...
                            </p>
                            <div class="new-icon">
                                <i class="fa-solid fa-calendar-days pe-2"></i>04/01/2017
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom pb-5 pt-4">
                        <div class="blog-post__content-new">
                            <img src="~/asset/new/logoface1.png" class="blog-post__content-new-img border" />
                        </div>
                        <div class="blog-post__content-new-text">
                            <h2 class="blog-post__content-new-text-title">
                                Bệnh viện Thu Cúc tổ chức mời thầu
                            </h2>
                            <p class="text-new">
                                Công ty cổ phần y khoa & thẩm mỹ Thu Cúc (sau đây gọi là Bên mời thầu) chuẩn bị tổ chức chào hàng cạnh tranh xây lắp gói thầu số 3 " Thi công hệ thống điện, nước và chống sét"...
                            </p>
                            <div class="new-icon">
                                <i class="fa-solid fa-calendar-days pe-2"></i>  04/01/2017
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom pb-5 pt-4">
                        <div class="blog-post__content-new">
                            <img src="~/asset/new/logoface1.png" class="blog-post__content-new-img border" />
                        </div>
                        <div class="blog-post__content-new-text">
                            <h2 class="blog-post__content-new-text-title">
                                BV Thu Cúc: Mời thầu dự án mua sắm hóa chất
                            </h2>
                            <p class="text-new">
                                Bệnh viện Đa khoa Quốc tế Thu Cúc kính mời quý Công ty/đơn vị có đầy đủ tư cách pháp nhân, đủ điều kiện và năng lực tham gia chào giá cạnh tranh gói thầu “Mua sắm hóa chất và sinh phẩm...
                            </p>
                            <div class="new-icon">
                                <i class="fa-solid fa-calendar-days pe-2"></i> 16/12/2016
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="col-md-3">
            <div class="position-sticky" style="top: 2rem;">
                <div class="widget-question">
                    <h3>Câu hỏi mới nhất</h3>
                    <hr />
                    <div class="widget-question__container">
                        <ul class="widget-question__list">
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Làm sao để giải độc cơ thể?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Những triệu chứng phổ biến của ung thư phổi giai đoạn đầu</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Các dịch vụ sẽ nhận được khi khám sức khỏe doanh nghiệp tại Thu Cúc TCI</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Rối loạn tiền đình có dễ đột quỵ?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Người mắc đái tháo đường nên ăn những thực phẩm gì?</a></h3></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-news">
                    <h3>Tin tức mới nhất</h3>
                    <hr />
                    <ul class="widget-news__list">
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="form-register">
                    <h3 class="form-register__title">Đăng ký nhận tư vấn</h3>
                    <div class="form-register__container">
                        <p class="text-center">
                            Vui lòng để lại thông tin và nhu cầu của
                            Quý khách để được nhận tư vấn
                        </p>
                        @Html.Partial("~/Views/advise/_Advise.cshtml")

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
