
@{
    ViewBag.Title = "Tin tức – Sự kiện";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Styles {
    <link href="~/asset/style/page/post.min.css" rel="stylesheet" />
    <link href="~/asset/css/cssgroup.css" rel="stylesheet" />
}



<div class="container-lg py-4">
    <div class="row">
        <nav style="--bs-breadcrumb-divider: '»';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                <li class="breadcrumb-item active">Tin tức – Sự kiện</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-9">
            <article class="blog-post">
                <h2 class="blog-post__title">
                    Tin tức – Sự kiện
                </h2>

                <div class="blog-post__content">
                    <div class="row border-bottom pb-5 pt-4">
                        <div class="blog-post__content-new">
                            <img src="~/asset/new/giam-toi-40-goi-kham-bao-ve-suc-khoe-mot-cach-toan-dien-4-480x270.jpg" class="blog-post__content-new-img" />
                        </div>
                        <div class="blog-post__content-new-text">
                            <h2 class="blog-post__content-new-text-title">
                                Giảm tới 40%++ gói khám – Bảo vệ sức khỏe một cách toàn diện
                            </h2>
                            <p class="text-new">
                                Tháng 9 này, Thu Cúc TCI mang đến chương trình ưu đãi vô cùng hấp dẫn dành cho các gói tầm soát sức khỏe tới 40%++ chi phí. 1. Cảnh giác với bệnh không lây nhiễm Bệnh không lây nhiễm bao gồm...
                            </p>
                            <div class="new-icon">
                                <i class="fa-solid fa-calendar-days pe-2"></i> 31/08/2023
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom pb-5 pt-4">
                        <div class="blog-post__content-new">
                            <img src="~/asset/new/2.jpg" class="blog-post__content-new-img" />
                        </div>
                        <div class="blog-post__content-new-text">
                            <h2 class="blog-post__content-new-text-title">
                                Talkshow F5 cơ xương khớp với yoga
                            </h2>
                            <p class="text-new">
                                Nằm trong khuôn khổ sự kiện được mong chờ nhất trong tháng 8 - F5 yourself with Yoga (do Báo Dân trí cùng với sự đồng hành của nhà tài trợ chính - Thu Cúc TCI tổ chức, xác lập kỷ lục..
                            </p>
                            <div class="new-icon">
                                <i class="fa-solid fa-calendar-days pe-2"></i> 01/08/2023
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom pb-5 pt-4">
                        <div class="blog-post__content-new">
                            <img src="~/asset/new/3.jpg" class="blog-post__content-new-img" />
                        </div>
                        <div class="blog-post__content-new-text">
                            <h2 class="blog-post__content-new-text-title">
                                Đăng ký tham gia sự kiện Ngày hội Yoga – F5 Yourself with YOGA
                            </h2>
                            <p class="text-new">
                                Cuộc sống hiện đại với sự nhộn nhịp và hối hả khiến mỗi chúng ta dường như phải vận động không ngừng nghỉ. Càng căng thẳng, bận rộn thì con người ta càng cần tới “những khoảng lặng” để lấy lại sự...
                            </p>
                            <div class="new-icon">
                                <i class="fa-solid fa-calendar-days pe-2"></i>06/06/2023
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom pb-5 pt-4">
                        <div class="blog-post__content-new">
                            <img src="~/asset/new/4.png" class="blog-post__content-new-img" />
                        </div>
                        <div class="blog-post__content-new-text">
                            <h2 class="blog-post__content-new-text-title">
                                Phát động Giải Chạy bộ Trực tuyến “TCI Run For Health” tháng 8
                            </h2>
                            <p class="text-new">
                                I. MỤC ĐÍCH Giải Chạy bộ Trực tuyến mở rộng "TCI Run For Health" được phát động dành cho tất cả runners trên toàn quốc: - Rèn luyện thói quen tập thể dục đều đặn hàng ngày, hàng tháng. - Tăng cường...
                            </p>
                            <div class="new-icon">
                                <i class="fa-solid fa-calendar-days pe-2"></i>04/06/2023
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom pb-5 pt-4">
                        <div class="blog-post__content-new">
                            <img src="~/asset/new/5.png" class="blog-post__content-new-img" />
                        </div>
                        <div class="blog-post__content-new-text">
                            <h2 class="blog-post__content-new-text-title">
                                Thu Cúc TCI thông báo lịch làm việc dịp lễ Giỗ tổ Hùng Vương và 30/04 – 01/05
                            </h2>
                            <p class="text-new">
                                Để giúp Quý người bệnh chủ động trong việc khám chữa bệnh dịp nghỉ lễ Giỗ tổ Hùng Vương và 30/04 - 01/05/2023, Hệ thống Y tế Thu Cúc TCI xin gửi Quý người bệnh Thông báo lịch làm việc dịp lễ...
                            </p>
                            <div class="new-icon">
                                <i class="fa-solid fa-calendar-days pe-2"></i> 28/04/2023
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <nav aria-label="Page navigation example" class="mt-4">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </article>
        </div>

        <div class="col-md-3">
            <div class="position-sticky" style="top: 2rem;">
                <div class="widget-question">
                    <h3>Câu hỏi mới nhất</h3>
                    <hr />
                    <div class="widget-question__container">
                        <ul class="widget-question__list">
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Làm sao để giải độc cơ thể?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Những triệu chứng phổ biến của ung thư phổi giai đoạn đầu</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Các dịch vụ sẽ nhận được khi khám sức khỏe doanh nghiệp tại Thu Cúc TCI</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Rối loạn tiền đình có dễ đột quỵ?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Người mắc đái tháo đường nên ăn những thực phẩm gì?</a></h3></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-news">
                    <h3>Tin tức mới nhất</h3>
                    <hr />
                    <ul class="widget-news__list">
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="form-register">
                    <h3 class="form-register__title">Đăng ký nhận tư vấn</h3>
                    <div class="form-register__container">
                        <p class="text-center">
                            Vui lòng để lại thông tin và nhu cầu của
                            Quý khách để được nhận tư vấn
                        </p>
                        @Html.Partial("~/Views/advise/_Advise.cshtml")

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
