
@{
    ViewBag.Title = "Trang chi ";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Styles {
    <link href="~/asset/style/page/post.min.css" rel="stylesheet" />
}



<div class="container py-4">
    <div class="row">
        <nav style="--bs-breadcrumb-divider: '»';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Hoạt động Bệnh viện Thu Cúc</a></li>
                <li class="breadcrumb-item active">Hệ thống Y tế Thu Cúc TCI đồng hành cùng ngày hội Yoga, xác lập kỷ lục Việt Nam</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-9">
            <article class="blog-post">
                <h2 class="blog-post__title">
                    Hệ thống Y tế Thu Cúc TCI đồng hành cùng ngày hội Yoga, xác lập kỷ lục Việt Nam
                </h2>
                <div class="blog-post__meta">
                    <p><i class="far fa-calendar-alt me-1"></i><span>Ngày cập nhật: </span>15/08/2023</p>
                    <p><i class="far fa-user me-1"></i><span>Tác giả: </span><a href="" class="blog-post__author">Lê Ngọc</a></p>
                    <p><i class="far fa-eye me-1"></i><span>168 </span>lượt xem</p>
                </div>
                <p class="blog-post__quickview">
                    Sự kiện Ngày hội Yoga do Báo điện tử Dân trí phối hợp với nhà tài trợ chính – Hệ thống Y tế Thu Cúc <a href="">TCI</a> – tổ chức vào ngày 12/8 đã xác lập 2 kỷ lục mới là “Chương trình đồng diễn Yoga với số lượng tham gia đông nhất tại cùng thời điểm và địa điểm” và “Màn đồng diễn xếp hình lá cờ Việt Nam với số lượng người tham gia đông đảo nhất”.
                </p>
                <div class="blog-post__content">
                    <p>
                        Sáng ngày 12.8, tại Sân vận động Quốc gia Mỹ Đình (Quận Nam Từ Liêm, Hà Nội), hơn 5.000 người cùng tham gia sự kiện Ngày hội Yoga lan tỏa thông điệp “Mãi khỏe đẹp cùng yoga”. Đây được coi là sự kiện “khủng” quy tụ đông đảo những người yêu thích bộ môn yoga, đến từ nhiều ngành nghề khác nhau, không phân biệt độ tuổi và giới tính.



                        Trước đó, từ 14h ngày 11/8, hàng nghìn người đã đổ về sảnh tầng 1 khán đài B của sân vận động Mỹ Đình (Hà Nội) để nhận bộ kit yoga gồm áo, mã số và quà tặng tham dự Ngày hội yoga vào sáng ngày 12/8. Chiều tối cùng ngày, đông đảo các CBNV Thu Cúc TCI đã cùng nhau có mặt trên sân vận động Mỹ Đình tiến hành trải thảm yoga phủ kín mặt sân. Mặc dù bị gián đoạn bởi trời mưa, nhưng tập thể cán bộ nhân viên Thu Cúc TCI đã cố gắng làm việc liên tục không quản ngại trong suốt 4-5 giờ đồng hồ cho đến nửa đêm để đảm bảo trải đủ 5000 thảm tập sẵn sàng cho ngày hội đồng diễn Yoga bùng nổ.





                        Từ 4h30 sáng ngày 12/8, hàng ngàn người đã đổ về sân vận động Mỹ Đình để tham gia sự kiện. Nhiều yogi đi theo các đoàn hoặc các nhóm nhỏ đến từ các tỉnh, thành khác nhau với tâm thế tham gia đầy háo hức. Sự kiện không chỉ thu hút thành viên từ các câu lạc bộ yoga trên khắp nước mà còn tiếp đón hàng trăm người cao tuổi, sinh viên và trẻ em tham gia đồng diễn.





                        Đại diện Hệ thống y tế Thu Cúc TCI, bà Lê Mai – Giám đốc Marketing chia sẻ: “Hệ thống Y tế Thu Cúc TCI của chúng tôi hàng ngày khám chữa bệnh cho hàng nghìn người. Hơn ai hết, chúng tôi hiểu rất rõ tầm quan trọng của yoga đối với sức khoẻ của chúng ta. Yoga được xem là một hoạt động thể dục giúp duy trì sức khoẻ, sự dẻo dai cho cơ thể, đặc biệt là thư giãn thân tâm trí rất tốt. Nếu chăm chỉ tập luyện yoga mỗi ngày, chúng ta sẽ hạn chế được rất nhiều bệnh tật, hạn chế việc phải đi bệnh viện. Thông qua sự kiện Ngày hội Yoga này, chúng tôi muốn truyền tải thông điệp “Mãi khoẻ đẹp với yoga” một cách mạnh mẽ nhất tới được nhiều người.”



                        Màn đồng diễn Yoga bắt đầu khởi động nhẹ nhàng với những phút giây thư giãn và tập trung tâm trí. Sau đó, hàng nghìn người cùng nhau thực hiện chuỗi động tác “chào mặt trời” kết hợp với hơi thở sâu và đều. Đây được coi là bài tập cơ bản tăng cường năng lượng cho cả cơ thể và tâm trí của người tập.



                        Tiếp đó, hình ảnh lá cờ Tổ quốc hiện lên rực rỡ trong ánh bình minh được tạo nên bởi sự đồng điệu của hơn 5.000 người tham gia. Khi tiếng nhạc hùng tráng vang lên, 5000 trái tim hòa chung một nhịp, tinh thần đoàn kết, tình yêu nước lan tỏa mạnh mẽ trong từng động tác biểu diễn nhuần nhuyễn mặc dù chưa từng cùng nhau tập duyệt trước đó. Sự thiêng liêng và tự hào là cảm xúc chung của hàng nghìn người khi được tham gia và chứng kiến màn đồng diễn chưa từng có này.



                        Sự kiện có sự tham gia của Đại sứ Phạm Kim Dung và nhiều hoa hậu, á hậu nổi tiếng tại Việt Nam như Hoa hậu Liên lục địa 2022 Lê Nguyễn Bảo Ngọc, Hoa hậu Hòa bình Việt Nam 2022 Đoàn Thiên Ân, và Á hậu 2 Hoa hậu Thế giới Việt Nam 2022 Nguyễn Phương Nhi… khiến những người đam mê bộ môn yoga có mặt tại sự kiện đều vô cùng phấn khích.


                        Sau màn đồng diễn đầy ấn tượng, ông Ngô Quang Xuân, nguyên đại sứ Việt Nam tại Liên hợp quốc và Phó Chủ tịch Trung ương Hội Kỷ lục gia Việt Nam đã đọc quyết định chính thức thiết lập Kỷ lục Việt Nam với “Chương trình đồng diễn Yoga đông người tham dự nhất về cùng thời điểm và địa điểm”. Đồng thời, chương trình còn xác lập thêm một kỷ lục mới: “Màn đồng diễn xếp hình lá cờ Việt Nam với số lượng người tham gia đông đảo nhất”. Đây là thành tựu vô cùng xứng đáng dành cho tất cả những người tham gia Ngày hội đồng diễn nói chung và là thành quả cho những nỗ lực không ngừng của tập thể CBNV Thu Cúc TCI nói riêng khi tạo ra một sân chơi đầy bổ ích.



                        Kế tiếp chương trình, khoảng 8h30, ngày hội yoga tiếp tục talkshow “F5 cơ xương khớp với yoga”, với sự tham gia của bác sĩ CK II, Thầy thuốc ưu tú Nguyễn Thị Kim Loan từ Hệ thống Y tế Thu Cúc TCI cùng với khách mời diễn viên, huấn luyện viên yoga Quách Thu Phương. Tallkshow với những chia sẻ bổ ích, những lời khuyên giúp mọi người cải thiện sức khỏe xương khớp hiệu quả cùng với yoga



                        Ngay sau đó, hoạt động khám & tư vấn về sức khỏe xương khớp được diễn ra tại gian hàng Thu Cúc TCI cũng thu hút đông đảo mọi người quan tâm và đến trải nghiệm. Bên cạnh đó, người tham dự còn được nhận ưu đãi lên đến 45% các dịch vụ y tế của Thu Cúc TCI như: khám chữa bệnh, gói khám sức khỏe và tầm soát ung thư tổng quát, nội soi tiêu hóa phát hiện sớm ung thư, thai sản trọn gói…



                        Sự kiện còn tổ chức các hoạt động thú vị khác bao gồm giao lưu với hoa hậu, diễn viên, nghệ sĩ, chuyên gia sức khỏe, và những người yêu thích yoga để tìm hiểu bí quyết lưu giữ nét thanh xuân, cân bằng tâm thân trí; các hoạt động minigame hấp dẫn đến từ các gian hàng…

                        Kết thúc Ngày hội đồng diễn Yoga là chung khảo cuộc thi “Tỏa sáng cùng Yoga” với các phần thi hạng mục cá nhân, cặp đôi và tập thể. Đại diện của Hệ thống Y tế Thu Cúc TCI, bà Lê Mai – Giám đốc Marketing lên trao giải cho các phần thi xuất sắc.



                        Sau sự kiện, nhiều người nổi tiếng, đại sứ, huấn luyện viên yoga và các yogi đã chia sẻ niềm xúc động và hạnh phúc. Họ mong rằng trong tương lai, sẽ có thêm thật nhiều chương trình yoga tương tự để gắn kết những người đam mê bộ môn này xích lại gần nhau hơn. Với tinh thần “F5 yourself with yoga”, Ngày hội Yoga do Thu Cúc TCI tài trợ hướng đến việc “làm mới” cơ thể mỗi ngày thông qua tập luyện. Sự kiện này được coi như món quà tinh thần dành tặng mọi người, với các hoạt động thư giãn, giải trí cũng như cập nhật kiến thức chăm sóc sức khỏe.
                    </p>
                </div>
            </article>
        </div>

        <div class="col-md-3">
            <div class="position-sticky" style="top: 2rem;">
                <div class="widget-question">
                    <h3>Câu hỏi mới nhất</h3>
                    <hr />
                    <div class="widget-question__container">
                        <ul class="widget-question__list">
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Làm sao để giải độc cơ thể?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Những triệu chứng phổ biến của ung thư phổi giai đoạn đầu</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Các dịch vụ sẽ nhận được khi khám sức khỏe doanh nghiệp tại Thu Cúc TCI</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Rối loạn tiền đình có dễ đột quỵ?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Người mắc đái tháo đường nên ăn những thực phẩm gì?</a></h3></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-news">
                    <h3>Tin tức mới nhất</h3>
                    <hr />
                    <ul class="widget-news__list">
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="form-register">
                    <h3 class="form-register__title">Đăng ký nhận tư vấn</h3>
                    <div class="form-register__container">
                        <p class="text-center">
                            Vui lòng để lại thông tin và nhu cầu của
                            Quý khách để được nhận tư vấn
                        </p>
                        <form action="" method="post" class="form-register__form-main d-flex flex-column justify-content-center">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Họ và tên (*)" />
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Số điện thoại (*)" />
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Nơi đăng ký khám chữa bệnh" />
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Email" />
                            </div>
                            <div class="mb-3">
                                <textarea rows="5" cols="25" class="form-control" placeholder="Triệu chứng"></textarea>
                            </div>
                            <button class="form-register__form-btn mb-3" type="submit" name="submit">Đặt lịch khám</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>