
@{
    ViewBag.Title = "Tin tức y khoa";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Styles {
    <link href="~/asset/style/page/post.min.css" rel="stylesheet" />
    <link href="~/asset/css/cssgroup.css" rel="stylesheet" />
}



<div class="container-lg py-4">
    <div class="row">
        <nav style="--bs-breadcrumb-divider: '»';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                <li class="breadcrumb-item active">Tin tức y khoa</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-9">
            <article class="blog-post">
                <h2 class="blog-post__title">
                    Tin tức y khoa
                </h2>

                <div class="blog-post__content">
                    <div class="row border-bottom pb-5 pt-4">
                        <div class="blog-post__content-new">
                            <img src="~/asset/healthyriver/1.jpg" class="blog-post__content-new-img border" />
                        </div>
                        <div class="blog-post__content-new-text">
                            <h2 class="blog-post__content-new-text-title">
                                Sinh thiết u vú dưới hướng dẫn của siêu âm và lực hút chân không – không mổ,
                            </h2>
                            <p class="text-new">
                                Sinh thiết u vú dưới hướng dẫn của siêu âm và lực hút chân không dưới hướng dẫn của siêu âm là kỹ thuật cao trong điều trị u lành tuyến vú mang lại cho người bệnh nhiều lợi ích: không cần...
                            </p>
                            <div class="new-icon">
                                <i class="fa-solid fa-calendar-days pe-2"></i> 08/12/2021
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom pb-5 pt-4">
                        <div class="blog-post__content-new">
                            <img src="~/asset/healthyriver/2.jpg" class="blog-post__content-new-img border" />
                        </div>
                        <div class="blog-post__content-new-text">
                            <h2 class="blog-post__content-new-text-title">
                                Phẫu thuật tuyến giáp không sẹo
                            </h2>
                            <p class="text-new">
                                Phương pháp phẫu thuật tuyến giáp không sẹo thẩm mỹ tại Bệnh viện Đa khoa Quốc tế Thu Cúc giúp điều trị các bệnh lý về tuyến giáp an toàn, hiệu quả đồng thời đáp ứng được tính thẩm mỹ cao, xóa bỏ nỗi...
                            </p>
                            <div class="new-icon">
                                <i class="fa-solid fa-calendar-days pe-2"></i>02/12/2021
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom pb-5 pt-4">
                        <div class="blog-post__content-new">
                            <img src="~/asset/healthyriver/3.jpg" class="blog-post__content-new-img border" />
                        </div>
                        <div class="blog-post__content-new-text">
                            <h2 class="blog-post__content-new-text-title">
                                Hướng dẫn cách xử lý khi bị polyp túi mật
                            </h2>
                            <p class="text-new">
                                Tưởng tượng một ngày bạn đi khám sức khỏe định kỳ và phát hiện trong túi mật của mình có polyp. Đa phần mọi người sẽ có tâm lý hoang mang, lo lắng rằng đây là bệnh lý gì, có nguy hiểm...
                            </p>
                            <div class="new-icon">
                                <i class="fa-solid fa-calendar-days pe-2"></i> 02/12/2021
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom pb-5 pt-4">
                        <div class="blog-post__content-new">
                            <img src="~/asset/healthyriver/4.jpg" class="blog-post__content-new-img border" />
                        </div>
                        <div class="blog-post__content-new-text">
                            <h2 class="blog-post__content-new-text-title">
                                Những điều cần biết về phẫu thuật cắt túi mật nội soi
                            </h2>
                            <p class="text-new">
                                Phẫu thuật cắt túi mật nội soi là phẫu thuật can thiệp tối thiểu với nhiều ưu điểm như ít đau, ít sẹo, an toàn, phục hồi nhanh. Phương pháp này thường được chỉ định trong điều trị các bệnh lý như...
                            </p>
                            <div class="new-icon">
                                <i class="fa-solid fa-calendar-days pe-2"></i> 02/12/2021
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom pb-5 pt-4">
                        <div class="blog-post__content-new">
                            <img src="~/asset/healthyriver/5.jpg" class="blog-post__content-new-img border" />
                        </div>
                        <div class="blog-post__content-new-text">
                            <h2 class="blog-post__content-new-text-title">
                                Sỏi túi mật chữa thế nào hiệu quả và an toàn?
                            </h2>
                            <p class="text-new">
                                Phẫu thuật cắt túi mật nội soi là phẫu thuật can thiệp tối thiểu với nhiều ưu điểm như ít đau, ít sẹo, an toàn, phục hồi nhanh. Phương pháp này thường được chỉ định trong điều trị các bệnh lý như...
                            </p>
                            <div class="new-icon">
                                <i class="fa-solid fa-calendar-days pe-2"></i> 02/12/2021
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <nav aria-label="Page navigation example" class="mt-4">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </article>
        </div>

        <div class="col-md-3">
            <div class="position-sticky" style="top: 2rem;">
                <div class="widget-question">
                    <h3>Câu hỏi mới nhất</h3>
                    <hr />
                    <div class="widget-question__container">
                        <ul class="widget-question__list">
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Làm sao để giải độc cơ thể?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Những triệu chứng phổ biến của ung thư phổi giai đoạn đầu</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Các dịch vụ sẽ nhận được khi khám sức khỏe doanh nghiệp tại Thu Cúc TCI</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Rối loạn tiền đình có dễ đột quỵ?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Người mắc đái tháo đường nên ăn những thực phẩm gì?</a></h3></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-news">
                    <h3>Tin tức mới nhất</h3>
                    <hr />
                    <ul class="widget-news__list">
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="form-register">
                    <h3 class="form-register__title">Đăng ký nhận tư vấn</h3>
                    <div class="form-register__container">
                        <p class="text-center">
                            Vui lòng để lại thông tin và nhu cầu của
                            Quý khách để được nhận tư vấn
                        </p>
                        @Html.Partial("~/Views/advise/_Advise.cshtml")

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
