
@{
    ViewBag.Title = "Giới thiệu bệnh viện đa khoa Thu cúc ";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Styles {
    <link href="~/asset/style/page/post.min.css" rel="stylesheet" />
    <link href="~/asset/css/cssgroup.css" rel="stylesheet" />
}



<div class="container-lg py-4">
    <div class="row">
        <nav style="--bs-breadcrumb-divider: '»';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                <li class="breadcrumb-item active">Lời giới thiệu Hệ thống y tế Thu Cúc – TCI</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-9">
            <article class="blog-post">
                <h2 class="blog-post__title">
                    Lời giới thiệu Hệ thống y tế Thu Cúc – TCI
                </h2>
                <div class="blog-post__meta">
                    <p><i class="far fa-calendar-alt me-1"></i><span>Ngày cập nhật: </span>15/08/2023</p>
                    <p><i class="far fa-user me-1"></i><span>Tác giả: </span><a href="" class="blog-post__author">Lê Ngọc</a></p>
                    <p><i class="far fa-eye me-1"></i><span>168 </span>lượt xem</p>
                </div>
                <p class="blog-post__quickview">
                    LỜI GIỚI THIỆU
                </p>
                <div class="blog-post__content">
                    <p>
                        Sau hơn một thập kỷ đi vào hoạt động, Bệnh viện Đa khoa Quốc tế Thu Cúc – cơ sở ra đời đầu tiên
                        của Hệ thống Y tế Thu Cúc TCI đang là địa chỉ được đông đảo người bệnh tin chọn, đứng top 3 bệnh
                        viện tư và top 5 toàn bệnh viện có điểm chất lượng dẫn đầu Hà Nội. Tới đây, Hệ thống y tế Thu Cúc
                        sẽ thực hiện nhanh chóng việc mở chuỗi các cơ sở y tế Thu Cúc TCI trên toàn quốc, đưa dịch vụ y tế
                        chất lượng cao đến gần và dễ tiếp cận hơn với người dân cả nước. Mục tiêu này có sự hỗ trợ tích cực
                        từ nguồn vốn 26,7 triệu USD được Quỹ đầu tư danh tiếng Vinacapital rót vào cho Hệ thống Y tế Thu
                        Cúc trong tháng 8/2020.
                    </p>
                    <h2 class="blog-post-content-title">1. Hướng đi đúng từ những ngày đầu thành lập</h2>
                    <p>
                        Sau hơn một thập kỷ đi vào hoạt động, Bệnh viện Đa khoa Quốc tế Thu Cúc – cơ sở ra đời đầu tiên
                        của Hệ thống Y tế Thu Cúc TCI đang là địa chỉ được đông đảo người bệnh tin chọn, đứng top 3 bệnh
                        viện tư và top 5 toàn bệnh viện có điểm chất lượng dẫn đầu Hà Nội. Tới đây, Hệ thống y tế Thu Cúc
                        sẽ thực hiện nhanh chóng việc mở chuỗi các cơ sở y tế Thu Cúc TCI trên toàn quốc, đưa dịch vụ y tế
                        chất lượng cao đến gần và dễ tiếp cận hơn với người dân cả nước. Mục tiêu này có sự hỗ trợ tích cực
                        từ nguồn vốn 26,7 triệu USD được Quỹ đầu tư danh tiếng Vinacapital rót vào cho Hệ thống Y tế Thu
                        Cúc trong tháng 8/2020.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/img/Anh-2.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Thu Cúc TCI đã hợp tác thành công với Singapore, thành lập Trung tâm ung bướu Singapore,
                            đưa tiến bộ y học trong điều trị ung thư ở Singapore về Việt Nam
                        </p>
                    </div>
                    <h2 class="blog-post-content-title">2. Tăng trưởng mạnh mẽ tạo đà phát triển vượt bậc</h2>
                    <p>
                        Bước chuyển mình ấn tượng đã mang đến đà tăng trưởng mạnh mẽ trong những năm tiếp theo.
                        Bệnh viện Đa khoa Quốc tế Thu Cúc khi đó đã bắt tay ngay vào giai đoạn 2 mở rộng hoạt
                        động kinh doanh của bệnh viện. Cũng trong giai đoạn này, thương hiệu Thu Cúc được tách
                        độc lập 2 mảng hoạt động chính của thương hiệu là y tế khám chữa bệnh và thẩm mỹ thành
                        hai công ty riêng biệt. Công ty cổ phần y khoa Thu Cúc bao gồm các bệnh viện đa khoa và
                        phòng khám đa khoa (Nay gọi tắt là TCI). Công ty thẩm mỹ Thu Cúc được tách độc lập không
                        liên quan đến TCI bao gồm các bệnh viện phẫu thuật thẩm mỹ, các phòng khám phẫu thuật thẩm
                        mỹ, các phòng khám da liễu công nghệ cao. Mục tiêu của thương hiệu Thu Cúc là để lĩnh vực
                        y tế khám chữa bệnh phát triển mạnh mẽ hơn nữa, mang lại lợi ích nhiều hơn cho người bệnh.
                    </p>
                    <p>
                        Năm 2019, Bệnh viện ĐKQT Thu Cúc tại 286 Thuỵ Khuê được mở rộng quy mô lớn gấp 3 lần,
                        song song với việc khai trương Phòng khám Đa khoa Quốc tế Thu Cúc tại 216 Trần Duy Hưng
                        năm 2019. Tới tháng 8/2020, sau 2 năm tìm hiểu, Quỹ Vinacapital chính thức quyết định
                        đầu tư vào lĩnh vực y tế của Thu Cúc, không bao gồm thẩm mỹ. Đây là một trong những
                        bước đi chiến lược của Hệ thống trong giai đoạn phát triển thần tốc để trở thành một
                        trong những thương hiệu dẫn đầu thị trường y tế tư nhân.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/img/Anh-3-1.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Bệnh viện ĐKQT Thu Cúc là một trong những bệnh viện tư có số lượng bệnh nhân đến khám đông nhất tại Hà Nội hiện nay.
                        </p>
                    </div>
                    <h2 class="blog-post-content-title">3. Những chuyên khoa mũi nhọn</h2>
                    <p>
                        Để có được thành quả đáng tự hào hôm nay, chất lượng khám chữa bệnh và dịch vụ chăm sóc
                        y tế tại Thu Cúc TCI đóng góp phần quan trọng nhất. Hoạt động theo mô hình bệnh viện
                        đa khoa với đội ngũ bác sĩ chuyên khoa giỏi, Thu Cúc TCI thực hiện thăm khám, điều trị
                        với đủ các khoa, chuyên khoa. Ngoài ung bướu, các mảng dịch vụ khám chữa bệnh mũi nhọn
                        tại Thu Cúc TCI hiện nay là sản khoa, ngoại khoa, nội gan mật, chẩn đoán hình ảnh. Bên
                        cạnh đó Thu Cúc TCI cũng liên tục mở rộng các mảng dịch vụ khác như tiêm chủng, kính mắt,….
                    </p>
                    <p>
                        Với Sản khoa, những yếu tố cảm xúc trong quá trình vượt cạn để giúp mẹ bầu có cuộc sinh
                        nở tốt nhất đã được chắt lọc từ nhiều nước phát triển và áp dụng một cách tuyệt vời tại đây.
                        Lựa chọn thai sản trọn gói ở Thu Cúc TCI, các bậc cha mẹ đã lựa chọn một hành trình của sự
                        an tâm và hạnh phúc để gặp thiên thần bé bỏng của mình.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/img/IMG_9422-1.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Dịch vụ thai kỳ trọn gói tại Thu Cúc giúp mẹ có một thai kỳ khỏe mạnh, hạnh phúc đón con yêu.
                        </p>
                    </div>
                    <p>
                        Về Ngoại khoa, đây cũng là một thế mạnh được khẳng định tại Hệ thống Y tế Thu Cúc với việc thực
                        hiện thành công rất nhiều ca phẫu thuật có độ khó cao trong ngành ngoại tiêu hóa – ổ bụng, chấn
                        thương chỉnh hình – xương khớp, thận – tiết niệu, ung thư…. Bên cạnh đó, những đột phá trong
                        công nghệ giúp điều trị bệnh không cần mổ cũng được TCI liên tục cập nhật giúp tối ưu hiệu quả
                        điều trị cho người bệnh như tán sỏi ngoài cơ thể, đốt sóng cao tần điều trị u giáp và sinh
                        thiết u vú dưới hướng dẫn siêu âm và lực hút chân không,…  Việc phát triển ngoại khoa có ý
                        nghĩa rất lớn giúp người bệnh hoàn toàn yên tâm khi đến với Hệ thống Y tế Thu Cúc. Tại đây,
                        mọi bất thường về sức khỏe đều được đội ngũ bác sĩ nội khoa – ngoại khoa cùng đánh giá toàn
                        diện để tìm ra phương pháp điều trị hiệu quả nhất.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/img/Anh-5-2-2.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Khoa Ngoại tiên phong ứng dụng các công nghệ phẫu thuật hiện đại, ít xâm lấn,
                            ít đau, hiệu quả và an toàn cho người bệnh.
                        </p>
                    </div>
                    <p>
                        Nội gan mật lại là một bước tiến vượt bậc khác của Thu Cúc TCI với việc tạo thành công kháng thể,
                        điều trị khỏi hoàn toàn bệnh viêm gan B mạn tính cho nhiều người. Phác đồ đặc hiệu, kết hợp nhiều
                        phương pháp hiện đại tại Thu Cúc TCI đã giúp lấy lại sức khỏe, thậm chí giành được sự sống và
                        giữ cuộc sống ổn định cho nhiều bệnh nhân nặng.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/img/THA04000.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Phác đồ điều trị viêm gan B ưu việt cùng sự hỗ trợ chu đáo từ chuyên gia hàng đầu tại Thu Cúc TCI
                        </p>
                    </div>
                    <p>
                        Xét nghiệm và Chẩn đoán hình ảnh là những mảng dịch vụ có những bước phát triển vượt bậc trong
                        vài năm gần đây. Trong đó, nội soi cao cấp MCU là công nghệ nội soi hiện đại bậc nhất được Thu Cúc
                        TCI đưa vào ứng dụng, mang đến bước đột phá trong chẩn đoán sớm và điều trị sớm ung thư đường
                        tiêu hóa chỉ trong 1 ngày mà không cần phẫu thuật mở ổ bụng. Công nghệ nội soi NBI 5P sử dụng
                        dải tần ánh sáng hẹp, khả năng phóng đại hàng trăm lần, phát hiện ung thư từ rất sớm.
                    </p>
                    <p>
                        Thu Cúc TCI cũng liên tục đầu tư trang bị các thiết bị, công nghệ hiện đại hàng đầu như MRI
                        nguyên lý H2, MSCT đa dãy, siêu âm đàn hồi mô gan thế hệ mới, hệ thống xét nghiệm tự động
                        bằng Robot hiện đang được ứng dụng tại 12 bệnh viện hàng đầu tại Mỹ,…
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/img/loi-gioi-thieu4.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Công nghệ nội soi tiêu hóa NBI – 5P với khả năng phóng đại hình ảnh gấp 100 lần,
                            phát hiện sớm ung thư và các bệnh lý đường tiêu hóa.
                        </p>
                    </div>
                    <p>
                        Phòng tiêm chủng Thu Cúc TCI dù đem tới cho khách hàng dịch vụ tiêm chủng vắc xin đạt
                        chất lượng hàng đầu. Với đội ngũ bác sĩ giỏi chuyên môn luôn sẵn sàng tư vấn, đa dạng
                        các gói tiêm chủng phù hợp với mọi đối tượng, hệ thống bảo quản vắc xin đạt chuẩn cao,
                        quy trình tiêm chủng đảm bảo yêu cầu Bộ Y tế, nguồn gốc vắc xin từ các đơn vị uy tín
                        hàng đầu, Thu Cúc TCI hướng tới là địa chỉ tiêm chủng uy tín được đông đảo khách hàng tin chọn.
                    </p>
                    <h2 class="blog-post-content-title">4. Chăm sóc bệnh nhân – thế mạnh nổi bật tại Thu Cúc TCI</h2>
                    <p>
                        Cũng tại Hệ thống Y tế Thu Cúc, khâu chăm sóc luôn là thế mạnh được người bệnh đánh giá cao.
                        Tại đây, bệnh nhân được đặt lịch thăm khám theo mong muốn, tiếp đón tận tình khi đến khám,
                        được hướng dẫn chi tiết trong suốt quá trình thăm khám, được hỗ trợ khi có bất kỳ yêu cầu nào,
                        và được chăm sóc sau khám qua hệ thống tổng đài. Sự hòa nhã của đội ngũ cán bộ nhân viên luôn
                        mang đến cho người bệnh cảm giác thoải mái. “Khám bệnh bằng trái tim – Giao tiếp bằng nụ cười”
                        là phương châm trong mọi dịch vụ của Thu Cúc TCI. Với phong cách thân thiện, hoàn hảo, chu đáo,
                        tận tình, quá trình thăm khám và nằm viện của người bệnh sẽ trở thành khoảng thời gian nghỉ
                        dưỡng thực sự.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/img/loi-gioi-thieu4.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Chế độ chăm sóc như người nhà giúp người bệnh phục hồi nhanh chóng,
                            điều trị trong tâm thái thoải mái, vơi bớt mọi lo âu về bệnh tật.
                        </p>
                    </div>
                    <p>
                        Chi phí khám chữa bệnh tại đây phù hợp với đông đảo người dân, và được niêm yết giá công khai tại
                        bệnh viện theo quy định của ngành y tế. Bệnh viện áp dụng thanh toán Bảo hiểm Y tế theo quy định
                        của Nhà nước và thanh toán hầu hết các loại hình bảo hiểm bảo lãnh.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/img/loi-gioi-thieu8.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Hệ thống Y tế Thu Cúc không ngừng phát triển về quy mô cả chiều rộng lẫn chiều sâu,
                            trở thành đơn vị tiên phong trong lĩnh vực y tế tư nhân.
                        </p>
                    </div>
                    <p>
                        Với những thành quả đáng tự hào, Hệ thống y tế Thu Cúc TCI đang được kỳ vọng trở thành một
                        trong các đơn vị dẫn đầu trong thị trường y tế tư nhân ở Việt Nam. Thời gian qua, Hệ thống
                        Y tế Thu Cúc đã có sự điều chỉnh trong nhận diện thương hiệu để phù hợp với chiến lược phát
                        triển trong giai đoạn tiếp theo. Theo đó, tên tiếng Anh được đổi thành TCI Hospital
                        (Thu Cuc International Hospital), tên tiếng Việt là Hệ thống y tế Thu Cúc. Logo thương hiệu đư
                        ợc điều chỉnh theo định hướng quốc tế hóa, thể hiện tầm nhìn và sứ mệnh của thương hiệu trong
                        giai đoạn tiếp theo.
                        Tại mỗi cơ sở thuộc hệ thống, Thu Cúc TCI cũng luôn nỗ lực phát huy thế mạnh trong khám và điều trị cho người bệnh, đồng thời đưa tới khách hàng dịch vụ chăm sóc chu đáo, tận tình nhất.

                        – Bệnh viện Đa khoa Quốc tế Thu Cúc TCI 286 Thụy Khuê, Tây Hồ, Hà Nội: Là viên gạch đầu tiên đặt nền móng cho Hệ thống y tế Thu Cúc TCI phát triển và lớn mạnh. Được xem là “đầu não” của Hệ thống y tế Thu Cúc TCI, cơ sở 286 Thụy Khuê phát triển với đầy đủ các khoa và chuyên khoa như Khoa Khám bệnh (bao gồm 11 chuyên khoa), Khoa Phụ sản, Khoa Nhi, Khoa Ngoại, Khoa Điều trị, Khoa Xét nghiệm, Khoa chẩn đoán hình ảnh, Khoa thăm dò chức năng và nội soi, Khoa Ung bướu Singapore,… Không những thế, tại đây các giáo sư, tiến sĩ, bác sĩ đầu ngành trong nhiều lĩnh vực cùng với các chuyên gia từ các nước như Cuba, Singapore thường xuyên có những cuộc hội chẩn để phát triển các dịch vụ y tế chuyên sâu, tạo nền móng vững chắc về mặt chuyên môn cho cả hệ thống.

                        – Phòng khám Đa khoa Quốc tế Thu Cúc 216 Trần Duy Hưng, Cầu Giấy, Hà Nội: Là phòng khám có quy mô lớn bậc nhất Hà Nội, đem lại những dịch vụ chất lượng cho người dân có nhu cầu khám chữa bệnh. Cơ sở 216 Trần Duy Hưng thực hiện khám và điều trị trong ngày với đủ các khoa, chuyên khoa. Các trường hợp cần điều trị nội trú, phẫu thuật, đẻ, bệnh nhân sẽ được chuyển về Bệnh viện Đa khoa Quốc tế Thu Cúc với xe đưa đón thuận tiện.

                        – Phòng khám Đa khoa Thu Cúc 32 Đại Từ, Hoàng Mai, Hà Nội: Tọa lạc tại cửa ngõ phía Nam Thủ đô, với lợi thế sở hữu không gian thăm khám lý tưởng, cùng sự đầu tư đồng bộ về cơ sở vật chất, TCI 32 Đại Từ ngày càng khẳng định vị thế của mình trong công tác chăm sóc sức khỏe cộng đồng. Ước tính mỗi ngày, cơ sở tiếp đón đến hàng ngàn lượt khách hàng cá nhân và doanh nghiệp tới thăm khám, sử dụng các dịch vụ y tế.

                        – Cơ sở khám chữa bệnh Thu Cúc TCI 136 Nguyễn Trãi, Thanh Xuân, Hà Nội: Được thiết kế hiện đại, tiện nghi, sẽ thực hiện các dịch vụ y tế như Phụ sản, Nhi, Tai Mũi Họng, Răng hàm mặt, nội, ngoại khoa. Với 7 tầng, thiết kế tiện nghi, phòng ốc khang trang, cơ sở khám chữa bệnh 136 Nguyễn Trãi mang lại cảm giác thân thiện, thoải mái cho mỗi khách hàng khi tới khám và điều trị tại đây.
                    </p>
                </div>
            </article>
        </div>

        <div class="col-md-3">
            <div class="position-sticky" style="top: 2rem;">
                <div class="widget-question">
                    <h3>Câu hỏi mới nhất</h3>
                    <hr />
                    <div class="widget-question__container">
                        <ul class="widget-question__list">
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Làm sao để giải độc cơ thể?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Những triệu chứng phổ biến của ung thư phổi giai đoạn đầu</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Các dịch vụ sẽ nhận được khi khám sức khỏe doanh nghiệp tại Thu Cúc TCI</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Rối loạn tiền đình có dễ đột quỵ?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Người mắc đái tháo đường nên ăn những thực phẩm gì?</a></h3></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-news">
                    <h3>Tin tức mới nhất</h3>
                    <hr />
                    <ul class="widget-news__list">
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
                @Html.Partial("~/Views/advise/_Advise.cshtml")
            </div>
        </div>
    </div>

</div>
