@model medical_appointment_scheduling_project.Models.Patient

@{
    ViewBag.Title = "Sứ mệnh – Tầm nhìn của Hệ thống Y tế Thu Cúc TCI ";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Styles {
    <link href="~/asset/style/page/post.min.css" rel="stylesheet" />
    <link href="~/asset/css/cssgroup.css" rel="stylesheet" />
}



<div class="container-lg py-4">
    <div class="row">
        <nav style="--bs-breadcrumb-divider: '»';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                <li class="breadcrumb-item active">Sứ mệnh – Tầm nhìn của Hệ thống Y tế Thu Cúc TCI</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-9">
            <article class="blog-post">
                <h2 class="blog-post__title">
                    Sứ mệnh – Tầm nhìn của Hệ thống Y tế Thu Cúc TCI
                </h2>
                <div class="blog-post__meta">
                    <p><i class="far fa-calendar-alt me-1"></i><span>Ngày cập nhật: </span>15/08/2023</p>
                    <p><i class="far fa-user me-1"></i><span>Tác giả: </span><a href="" class="blog-post__author">Lê Ngọc</a></p>
                    <p><i class="far fa-eye me-1"></i><span>168 </span>lượt xem</p>
                </div>
                <div class="blog-post__content">
                    <h2 class="blog-post-content-title">1. SỨ MỆNH</h2>
                    <h3 class="blog-post-content-title-chill">TCI đặt ra cho mình sứ mệnh với từng đối tượng cần quan tâm:</h3>
                    <p>
                        <strong><em>Với người bệnh: </em></strong>Lợi ích của người bệnh, sức khỏe của người bệnh là kim
                        chỉ nam trong mọi hoạt động mà chúng tôi hướng tới. Mang lại sự an toàn và chất lượng cao trong
                        việc khám chữa bệnh là định hướng quan trọng để chúng tôi tồn tại và phát triển. Lắng nghe và
                        chia sẻ để đạt được sự hài lòng và tin tưởng của người bệnh là thước đo thành công của Hệ thống
                        Y tế Thu Cúc TCI.
                        <br />
                        <br />
                        <strong><em>Với nhân viên:</em></strong>Không ngừng xây dựng một môi trường làm việc chuyên nghiệp, giàu tính nhân văn, mang đậm nét văn hóa chung của cả tập đoàn; tạo cơ hội nâng cao nghiệp vụ và phát triển sự nghiệp cho mọi thành viên.
                        <br />
                        <br />
                        <strong><em>Với ngành Y tế, đặc biệt là khối Y tế ngoài công lập: </em></strong>Dịch vụ y tế được đảm bảo về chất lượng, thực sự thu hút khách hàng của Hệ thống Y tế Thu Cúc TCI chính là chìa khóa vàng để mở cửa tiềm năng cho thị trường y tế tư nhân vốn đang bắt đầu phát triển trong những năm gần đây.
                        <br />
                        <br />
                        <strong><em>Với cộng đồng xã hội: </em></strong>Phát triển theo từng giai đoạn đầu tư, để mở rộng phạm vi và nâng cao chất lượng khám chữa bệnh, góp phần vào sự lớn mạnh chung của nền y học nước nhà. Chia sẻ trách nhiệm với cộng đồng thông qua những chương trình điều trị và chăm sóc sức khỏe từ thiện cho những đối tượng có hoàn cảnh đặc biệt.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/misson/su-menh-tam-nhin-600x399.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Lợi ích của người bệnh, sức khỏe của người bệnh là kim chỉ nam trong
                            mọi hoạt động mà chúng tôi hướng tới.
                        </p>
                    </div>
                    <h2 class="blog-post-content-title">2.  TẦM NHÌN </h2>
                    <p>
                        Ra đời trong hoàn cảnh hệ thống bệnh viện tại Hà Nội chưa đáp ứng được đầy đủ nhu cầu về số lượng cũng như chất lượng khám chữa bệnh, Hệ thống y tế Thu Cúc TCI với tiền thân là Bệnh viện Đa khoa Quốc tế Thu Cúc mong muốn được chung vai gánh vác, chia sẻ gánh nặng với xã hội trong việc điều trị bệnh và chăm sóc sức khỏe cho cộng đồng. Không chỉ nhằm góp phần giảm tải cho các bệnh viện công, chúng tôi còn hướng tới việc cung cấp dịch vụ khám, tầm soát và điều trị bệnh toàn diện hướng tới tiêu chuẩn quốc tế với đội ngũ bác sỹ giỏi trong và ngoài nước.
                    </p>
                    <p>
                        Mục tiêu của Bệnh viện Đa khoa Quốc tế Thu Cúc là trở thành một trong những bệnh viện khám chữa bệnh hàng đầu trong cả nước, địa chỉ khám chữa bệnh tin cậy cho người dân trong nước nói chung, và các tỉnh phía Bắc nói riêng. Chúng tôi chú trọng vào việc đầu tư trang bị y tế hiện đại tiêu chuẩn quốc tế, kết hợp với kiến thức của đội ngũ bác sỹ giỏi nhằm đưa đến kết quả khám bệnh chính xác nhất và điều trị bệnh tốt nhất cho người dân. Đồng thời, tạo một môi trường y tế an toàn, thân thiện, chất lượng cao hơn cho tất cả mọi người.
                    </p>
                    <p>
                        Tầm nhìn của Bệnh viện ĐKQT Thu Cúc ngay từ những ngày đầu còn thể hiện ở việc lựa chọn và phát triển các khoa và chuyên khoa mũi nhọn. Việc lựa chọn dựa theo hai tiêu chí. Thứ nhất, các khoa đáp ứng nhu cầu của đại đa số người dân như Khoa Khám bệnh, Khoa Chẩn đoán hình ảnh, Khoa Xét nghiệm, Khoa Điều trị, Khoa Sản, Khoa Ngoại. Thứ hai, cũng là tiêu chí khó nhất mà không phải đơn vị y tế nào cũng có thể thực hiện được, đó là khoa điều trị bệnh khó như Khoa Ung bướu. Điều này phần nào thể hiện quyết tâm của toàn Hệ thống Y tế Thu Cúc TCI: vươn đến mục tiêu cao đẹp trên hành trình cống hiến cho cộng đồng xã hội.
                    </p>
                    <h2 class="blog-post-content-title">3. KẾ THỪA VÀ PHÁT TRIỂN ĐỂ VƯƠN XA</h2>
                    <p>
                        Hiện nay, với các cơ sở mới lần lượt ra đời, Hệ thống y tế Thu Cúc TCI đang ngày thêm phát triển lớn mạnh. Với sự kế thừa và đổi mới trong mọi mặt hoạt động, Hệ thống Y tế Thu Cúc (TCI) tiếp tục xây dựng hình mẫu thương hiệu là “Người chăm sóc”: Luôn tận tâm chăm sóc ân cần, gần gũi, chia sẻ với người bệnh, tạo cho người bệnh cảm giác dễ chịu với những trải nghiệm như đi nghỉ dưỡng nhưng được chăm sóc như người nhà. Đồng thời, nhấn mạnh thêm hình mẫu “Người hiện đại”: Đó là luôn có tư duy hướng đến những phương pháp chăm sóc sức khỏe hiện đại trên thế giới để mang lại chất lượng sức khỏe cao hơn cho con người. Bên cạnh đó, hệ thống luôn ứng dụng những công nghệ hiện đại trong kỷ nguyên mới để chăm sóc sức khỏe cộng đồng. Đặc điểm thương hiệu vẫn tiếp tục được xây dựng theo tiêu chí đáng tin cậy, thân thiện và an toàn.
                    </p>
                    <p>
                        Sự kiện tiếp nhận nguồn vốn từ Quỹ đầu tư tài chính Vinacapital là một trong những bước đi chiến lược của Hệ thống y tế Thu Cúc trong giai đoạn phát triển thần tốc để trở thành một trong những thương hiệu dẫn đầu thị trường y tế tư nhân.
                    </p>
                    <p>
                        Hơn thế nữa, khát khao và quyết tâm của TCI còn là sự vươn tầm chất lượng và phối hợp toàn cầu, để có một Thu Cúc vững vàng sánh bước trong cộng đồng quốc tế.
                    </p>
                    <h2 class="blog-post-content-title">4. CÁC CƠ SỞ TRỰC THUỘC HỆ THỐNG Y TẾ THU CÚC TCI</h2>
                    <h3 class="blog-post-content-title-chill">4. 1 Bệnh viện Đa khoa Quốc tế Thu Cúc TCI 286 Thụy Khuê, Thụy Khuê, Tây Hồ Hà Nội</h3>

                    <p>
                        Tọa lạc tại 286 Thụy Khuê, Tây Hồ, Hà Nội, Bệnh viện ĐKQT Thu Cúc gồm 10 tầng với kết cấu tiện lợi, hợp lý, cùng với hệ thống thang máy giúp người bệnh dễ dàng hơn trong việc di chuyển. Nằm sát cạnh Hồ Tây, Bệnh viện Đa khoa Quốc tế Thu Cúc không chỉ mang lại cảm giác thư thái cho người bệnh đến khám bệnh mà còn là không gian nghỉ dưỡng tuyệt vời cho những bệnh nhân điều trị nội trú tại đây.
                        <br />
                        <br />
                        Theo đuổi mục tiêu trở thành nơi khám chữa bệnh hàng đầu trong nước, Bệnh viện đã đầu tư những trang bị y khoa hiện đại hiếm có ở Việt Nam. Trong đó phải kể đến hệ thống phòng mổ vô khuẩn một chiều được đánh giá là hiện đại nhất hiện nay và rất hiếm có trên cả nước. Trong lĩnh vực chẩn đoán hình ảnh, phải kể đến các hệ thống máy móc như máy chụp cộng hưởng từ MRI nguyên lý H2, máy chụp cắt lớp vi tính MSCT đa dãy, máy đo loãng xương DEXUMT, hệ thống siêu âm màu 4D, điện tim 3 cần, nội soi dải tần ánh sáng hẹp NBI,….đều là những máy móc hướng tới tiêu chuẩn quốc tế, được Bộ Y tế cấp phép sử dụng. Hệ thống xét nghiệm tự động bằng robot được 12 trong 17 bệnh viện hàng đầu tại Mỹ áp dụng, cũng đang được ứng dụng tại Hệ thống Y tế Thu Cúc.
                        <br />
                        <br />
                        Không chỉ được trang bị cơ sở vật chất hiện đại bậc nhất, Bệnh viện ĐKQT Thu Cúc còn có đầy đủ các chuyên khoa, dịch vụ khám chữa bệnh với  đội ngũ bác sĩ, chuyên gia là các giáo sư, tiến sĩ đầu ngành trong nhiều lĩnh vực mang đến sự an tâm tin tưởng và là lựa chọn hàng đầu của đông đảo người bệnh trên khắp cả nước.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/misson/BV-2.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Bệnh viện ĐKQT Thu Cúc tại 286 Thụy Khuê, Tây Hồ Hà Nội
                        </p>
                    </div>

                    <h3 class="blog-post-content-title-chill">4. 2 Phòng khám ĐKQT Thu Cúc TCI 216 Trần Duy Hưng, Cầu Giấy, Hà Nội</h3>

                    <p>
                        Phòng khám Đa khoa Quốc tế Thu Cúc  216 Trần Duy Hưng (Cầu Giấy, Hà Nội) có vị trí giao thông thuận lợi phù hợp với khách hàng ở khu vực lân cận và phía Tây Thủ Đô. Với quy mô 7000m2, cơ sở vật chất khang trang cùng đội ngũ các bác sĩ, nhân viên y tế có trình độ chuyên môn cao và tận tâm, Phòng khám Đa khoa Quốc tế Thu Cúc 216 Trần Duy Hưng góp phần đáp ứng nhu cầu khám chữa bệnh chất lượng cao cho đông đảo người dân khu vực quận Cầu Giấy cũng như Hà Nội nói chung.
                        <br />
                        <br />
                        Cơ sở 216 Trần Duy Hưng thực hiện khám và điều trị hầu hết các bệnh lý nội khoa như nội chung, tim mạch, gan mật, tiêu hóa, tiết niệu, nội thần kinh…vv (không bao gồm điều trị nội trú), bệnh lý ngoại khoa (không bao gồm phẫu thuật), khám thai, khám phụ khoa (không bao gồm đỡ đẻ, mổ đẻ), khám nhi khoa, tai mũi họng, răng hàm mặt, mắt, da liễu, khám sức khỏe tổng quát, tầm soát ung thư (không bao gồm điều trị), nội soi tiêu hóa.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/misson/ben-ngoai-phong-kham-216-tran-duy-hung.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Phòng khám ĐKQT Thu Cúc TCI 216 Trần Duy Hưng
                        </p>
                    </div>
                    <h3 class="blog-post-content-title-chill">4. 3 Phòng khám Đa khoa Thu Cúc TCI 32 Đại Từ, Hoàng Mai, Hà Nội</h3>

                    <p>
                        Chính thức đi vào hoạt động từ tháng 3/2021, TCI cơ sở 32 Đại Từ (Hoàng Mai, Hà Nội) đã trở thành điểm chọn sức khỏe tin cậy của người dân, khẳng định sự phát triển và mở rộng thương hiệu của TCI lên tầm cao mới. Cơ sở 32 Đại Từ tọa lạc tại cửa ngõ phía Nam Thủ đô, tiếp giáp với các khu vực đông dân cư, đồng thời thuận tiện cả về giao thông nội đô và giao thông liên tỉnh.
                        <br />
                        <br />
                        Cơ sở 32 Đại Từ sở hữu diện tích rộng trên 7.000 m2 với không gian lý tưởng, thiết kế hướng đến mô hình bệnh viện – khách sạn, đem lại cảm giác thư thái cho khách hàng, giải tỏa bớt tâm lý lo âu, căng thẳng khi đến khám chữa bệnh. Với lợi thế sở hữu không gian thăm khám lý tưởng, cùng sự đầu tư đồng bộ về cơ sở vật chất, TCI 32 Đại Từ ngày càng khẳng định vị thế của mình trong công tác chăm sóc sức khỏe cộng đồng. Ước tính mỗi ngày, cơ sở tiếp đón đến hàng ngàn lượt khách hàng cá nhân và doanh nghiệp tới thăm khám, sử dụng các dịch vụ y tế.
                        <br />
                        <br />
                        Tại đây cũng quy tụ đội ngũ các bác sĩ chuyên khoa giỏi chuyên môn, giàu y đức và từng có nhiều năm kinh nghiệm công tác trong nghề. Bên cạnh đó, hàng trăm điều dưỡng viên, kỹ thuật viên, đội ngũ lễ nhiệt tình, chu đáo, chăm sóc người bệnh như người nhà.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/misson/gioi-thieu-co-so-32-dai-tu-1.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Phòng khám ĐKQT Thu Cúc TCI 32 Đại Từ
                        </p>
                    </div>
                    <h3 class="blog-post-content-title-chill">4.4 Phòng khám Đa khoa Thu Cúc TCI 136 Nguyễn Trãi, Thanh Xuân, Hà Nội</h3>

                    <p>
                        Ngày 23/11/2021, Phòng khám Đa khoa Thu Cúc TCI tại địa chỉ 136 Nguyễn Trãi, Thanh Xuân, Hà Nội, thuộc quản lý của Hệ thống Y tế Thu Cúc TCI đã chính thức khai trương. Tọa lạc tại vị trí đắc địa, thuận tiện cho đi lại với 7 tầng rộng lớn, thiết kế tiện nghi, phòng ốc khang trang, đẹp mắt, cơ sở khám chữa bệnh 136 Nguyễn Trãi mang lại cảm giác thân thiện, thoải mái cho mỗi khách hàng khi tới khám và điều trị tại đây.
                        <br />
                        <br />
                        Không chỉ được trang bị các thiết bị y tế mang lại hiệu quả chẩn đoán tối ưu như: máy điện tim, máy truyền dịch, bơm tiêm điện, máy khử rung tim, đèn soi tai mũi họng, máy siêu âm 5D, máy doppler tim thai, máy monitor sản khoa, máy soi cổ tử cung, Xquang kỹ thuật số, hệ thống máy điện tim 6 cần, hệ thống xét nghiệm bằng robot tự động…, Phòng khám Đa khoa Thu Cúc TCI Nguyễn Trãi còn quy tụ đội ngũ chuyên gia, giáo sư, tiến sĩ đầu ngành nhiều năm kinh nghiệm. Các bác sĩ luân phiên thăm khám giữa các cơ sở, tạo nên hệ sinh thái cân bằng, đồng bộ. Với các bệnh lý cần sự can thiệp của phẫu thuật, người bệnh sẽ được chuyển đến Bệnh viện ĐKQT Thu Cúc để thực hiện dịch vụ.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/misson/136-nguyen-trai-7.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Phòng khám ĐKQT Thu Cúc TCI 136 Nguyễn Trãi
                        </p>
                    </div>
                    <p>
                        Sắp tới đây, Hệ thống y tế Thu Cúc sẽ thực hiện nhanh chóng việc mở chuỗi các cơ sở y tế Thu Cúc TCI trên toàn quốc, đưa dịch vụ y tế chất lượng cao đến gần và dễ tiếp cận hơn với người dân khắp cả nước.
                        <br />
                        <br />

                        Việc mở rộng trên toàn quốc với nhiều cơ sở y tế của Thu Cúc TCI đến từng khu vực dân cư sẽ giúp cho người dân không phải đi xa mà vẫn được tiếp cận dịch vụ y tế chất lượng cao, dịch vụ tốt. Song song với đó là đầu tư phát triển chuyên môn sâu hơn với các thiết bị y tế cập nhất mới nhất các tiến bộ y học, thực hiện các kỹ thuật chẩn đoán và điều trị khó trên thế giới.
                    </p>
                </div>
            </article>
        </div>

        <div class="col-md-3">
            <div class="position-sticky" style="top: 2rem;">
                <div class="widget-question">
                    <h3>Câu hỏi mới nhất</h3>
                    <hr />
                    <div class="widget-question__container">
                        <ul class="widget-question__list">
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Làm sao để giải độc cơ thể?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Những triệu chứng phổ biến của ung thư phổi giai đoạn đầu</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Các dịch vụ sẽ nhận được khi khám sức khỏe doanh nghiệp tại Thu Cúc TCI</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Rối loạn tiền đình có dễ đột quỵ?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Người mắc đái tháo đường nên ăn những thực phẩm gì?</a></h3></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-news">
                    <h3>Tin tức mới nhất</h3>
                    <hr />
                    <ul class="widget-news__list">
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="form-register">
                    <h3 class="form-register__title">Đăng ký nhận tư vấn</h3>
                    <div class="form-register__container">
                        <p class="text-center">
                            Vui lòng để lại thông tin và nhu cầu của
                            Quý khách để được nhận tư vấn
                        </p>
                        @Html.Partial("~/Views/advise/_Advise.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
