<div class="footer">
    <div class="container">
        <div class="footer-logo">
            <img src="~/asset/image/logo/logo.png" class="footer-logo-img" />
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 box">
                <h2 class="footer-title">HỆ THỐNG Y TẾ THU CÚC</h2>
                <p class="foooter-content">Chi nhánh công ty CP Y Khoa & Thẩm Mỹ Thu Cúc</p>
                <p class="foooter-content">
                    ĐKKD số: 0102624215-001 – Sở Kế hoạch và Đầu tư thành phố Hà Nội cấp ngày 11/02/2009
                    Giấy phép hoạt động cơ sở khám chữa bệnh số 26/BYT-GPHD do Bộ y tế cấp lần đầu ngày 21/02/2017,
                    giấy phép hiện tại: số <strong> 26/BYT-GPHD </strong> do Bộ y tế cấp ngày 9/2/2021
                </p>
                <p class="footer-content">Email: contact@thucuchospital.vn</p>
                <p class="footer-content">Tổng đài tư vấn: <strong> 1900 5588 92 </strong></p>
                <p class="footer-content">Email: cskh@thucuchospital.vn</p>

                <div class="footer-group">
                    <img src="~/asset/image/logo/foot1_1.svg" />
                    <img src="~/asset/image/logo/dmca_premi_badge.svg" />
                </div>
                <div class="dashed "></div>
                <div class="footer-social-network-link">
                    <h2 class="footer-title">LIÊN KẾT MẠNG XÃ HỘI</h2>
                    <div class="footer-social-network-link-group d-flex">
                        <div class="footer-social-network-link-single">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <div class="footer-social-network-link-single">
                            <i class="fa-brands fa-youtube"></i>
                        </div>
                        <div class="footer-social-network-link-single">
                            <img src="~/asset/icon/icon.svg" />
                        </div>
                    </div>
                </div>
                <div class="dashed "></div>
                <div class="d-flex flex-column">
                    <a href="#" class="footer-rules">Miễn trừ trách nhiệm</a>
                    <a href="#" class="footer-rules">Chính sách bảo mật</a>
                    <a href="#" class="footer-rules">Chính sách & Điều khoản</a>
                </div>
                <h2 class="footer-title">TẢI APP TCI - NHẬN ƯU ĐÃI HẤP DẪN</h2>
                <div class="footer-qr-group">
                    <img src="~/asset/image/footer/AppThuCuc-qr-code-Appstore-Logo.jpg" />
                    <img src="~/asset/image/footer/AppThuCuc-qr-code-Appstore-Logo.jpg" />
                </div>
            </div>
            <div class="col-4 box">
                <h2 class="footer-titles">BỆNH VIỆN ĐA KHOA QUỐC TẾ THU CÚC</h2>
                <p class="footer-content"> Giấy phép hoạt động khám chữa bệnh số <strong> 26/BYT-GPHD </strong> do Bộ Y tế cấp ngày 09/02/2021</p>
                <div class="footer-address"><i class="fa-solid fa-location-dot pe-2"></i>286 Thụy Khuê, Tây Hồ, Hà Nội</div>
                <div class="footer-address">
                    <i class="fa-solid fa-truck-medical  pe-2"></i>
                    Cấp cứu (24/24): <strong> 0901 793 122</strong>
                </div>
                <div class="footer-address">
                    <img src="~/asset/icon/download.svg" class=" pe-2" /> Trực sản (24/24): <strong> 0936 245 499</strong>
                </div>
                <div class="footer-contact">
                    <h5 class="footer-contact-title">Liên hệ:</h5>
                    <p class="footer-contact-number">
                        <strong>  1900 5588 92 </strong> hoặc <strong> 0936 388 288 </strong> đặt lịch khám
                    </p>
                    <p class="footer-hotline"><strong>Hotline giao thuốc tận nhà: 0936347266</strong></p>
                </div>
                <div class="footer-work-time">
                    <strong> Giờ làm việc: </strong>
                    <div class="footer-work-time-list">
                        <p>Từ Thứ 2 - Chủ nhật:</p>
                        <strong>7h00 - 17h00</strong>
                    </div>
                    <div class="footer-work-time-list">
                        <p>Khám Nội - Đa khoa:</p>
                        <strong>7h00 - 17h00</strong>
                    </div>
                    <div class="footer-work-time-list">
                        <p>Khám Ngoại:</p>
                        <strong>7h00 - 17h00</strong>
                    </div>
                    <div class="footer-work-time-list">
                        <p>Cấp cứu:</p>
                        <strong>
                            24/24
                        </strong>
                    </div>
                    <div class="footer-work-time-list">
                        <p>Khoa Phụ Sản:</p>
                        <strong>7h00 - 20h00</strong>
                    </div>
                    <div class="footer-work-time-list">
                        <p>Khám sản + Trực sinh:</p>
                        <strong>
                            24/24
                        </strong>
                    </div>
                    <div class="footer-work-time-list">
                        <p>Khám Tai Mũi Họng:</p>
                        <strong>7h00 - 20h00</strong>
                    </div>
                    <div class="footer-work-time-list">
                        <p>Khám Răng hàm mặt:</p>
                        <strong>8h00 - 17h00</strong>
                    </div>
                    <div class="footer-work-time-list">
                        <p>Khám Mắt, Da liễu:	</p>
                        <strong>8h00 - 17h00</strong>
                    </div>
                    <div class="footer-work-time-list">
                        <p>Khám Nhi:</p>
                        <strong>
                            24/24
                        </strong>
                    </div>
                    <div class="footer-work-time-list">
                        <p>Khám Ung bướu:</p>
                        <strong>
                            Thứ 2 đến chủ nhật từ 7h00-17h00
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-4 box">
                <h2 class="footer-titles">BỆNH VIỆN ĐA KHOA QUỐC TẾ THU CÚC</h2>

                <p class="footer-content">
                    Quản lý bởi Bệnh viện Đa khoa Quốc tế Thu Cúc
                </p>
                <p class="footer-content">
                    Liên hệ:  <strong>0936 388 288 </strong>đặt lịch khám
                </p>

                <a href="#" class="footer-link">
                    Phòng khám ĐKQT Thu Cúc TCI Trần Duy Hưng
                </a>
                <p class="footer-content">
                    Giấy phép hoạt động khám chữa bệnh số
                    <strong> 1050/HNO-GPHD /CL2 </strong> do Sở Y tế Hà Nội cấp ngày 27/01/2022
                </p>
                <a href="#" class="footer-link-adress"><i class="fa-solid fa-location-dot"></i> 216 Trần Duy Hưng, Cầu Giấy, Hà Nội</a>
                <div class="footer-address">
                    <i class="fa-solid fa-truck-medical"></i>
                    Cấp cứu (24/24): <strong> 0901 793 122</strong>
                </div>
                <p class="footer-hotline"><strong>Hotline giao thuốc tận nhà: 0936347266</strong></p>

                <div class="dashed "></div>

                <a href="#" class="footer-link">
                    Phòng khám Đa khoa Thu Cúc TCI Đại Từ
                </a>
                <p class="footer-content">
                    Giấy phép hoạt động khám chữa bệnh số<strong> 2035/HNO-GPHD /CL</strong> 1 do Sở Y tế Hà Nội cấp ngày 15/11/2021
                </p>
                <a href="#" class="footer-link-adress"><i class="fa-solid fa-location-dot"></i> 32 Đại Từ, Hoàng Mai, Hà Nội</a>
                <div class="footer-address">
                    <i class="fa-solid fa-truck-medical"></i>
                    Cấp cứu (24/24): <strong>  093 453 7883</strong>
                </div>
                <p class="footer-hotline"><strong>Hotline giao thuốc tận nhà:  0936357080</strong></p>

                <div class="dashed "></div>

                <a href="#" class="footer-link">
                    Phòng khám Đa khoa Thu Cúc TCI Nguyễn Trãi
                </a>
                <p class="footer-content">
                    Giấy phép hoạt động khám chữa bệnh số
                    <strong> 2333/HNO-GPHD /CL1  </strong> do Sở Y tế Hà Nội cấp ngày 15/07/2022
                </p>
                <a href="#" class="footer-link-adress"><i class="fa-solid fa-location-dot"></i> 136 Nguyễn Trãi, Thanh Xuân, Hà Nội</a>
                <div class="footer-address">
                    <i class="fa-solid fa-truck-medical"></i>
                    Cấp cứu (24/24): <strong> 0936 188 584</strong>
                </div>
                <p class="footer-hotline"><strong>Hotline giao thuốc tận nhà:  0903245118</strong></p>

            </div>
        </div>
    </div>
</div>
<div class="text-center footer-copyright">
    COPYRIGHT ©2020 HỆ THỐNG Y TẾ THU CÚC
</div>

<div class="quick_contact">
    <div class="quick_contact_left">
        <div class="quick_contact_number_phone">
            <a href="tel:0936388288" class="text-decoration-none text-white">
                <i class="fa-solid fa-phone"></i>  0936 388 288
            </a>
        </div>
        <div class="quick_contact_number_phone calendar_order">
            <a href="/appointment/index">
                <i class="fa-solid fa-calendar-days"></i> Đặt lịch khám
            </a>
        </div>
    </div>
    <div class="quick_contact_right">
        <div class="quick_contact_mail">
            <div id="hidden" class="quick_contact_title">
                <i class="fa-regular fa-envelope"></i>
                Chào bạn đây là kênh tư vấn trực tiếp
                <i class="fa-solid fa-minus minus"></i>
            </div>
            <form class="form">
                <div class="quick_contact_group">
                    <p>
                        Kính chào quý khách! Hiện tại không có bác sĩ tư vấn online.
                        Mời bạn để lại TÊN và SĐT, Email cùng câu hỏi cần tư vấn. TCI Hospital
                        sẽ gọi lại cho bạn sớm để tư vấn cụ thể
                    </p>
                    <div class="form-group">
                        <label class="label">
                            Nhập thông tin của bạn *
                        </label>
                        <div class="mb-2">
                            <input type="text" class="input-style italic-placeholder" placeholder="Nhập tên của bạn" />
                        </div>
                        <input type="text" class="input-style italic-placeholder" placeholder="Nhập số điện thoại của bạn" />
                    </div>
                    <div class="form-group mt-3">
                        <label class="label">
                            Chọn dịch vụ hỗ trợ
                        </label>
                        <select class="select">
                            <option>
                                Chăm sóc khách hàng
                            </option>
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <label class="label">Tin nhắn *</label>
                        <textarea cols="27"></textarea>
                    </div>
                </div>
                <div class="text-center send">
                    <button class="btn-send">Gửi tin nhắn</button>
                </div>
            </form>
        </div>

    </div>
</div>