
@{
    ViewBag.Title = "Chính sách Bảo hiểm y tế";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Styles {
    <link href="~/asset/style/page/post.min.css" rel="stylesheet" />
    <link href="~/asset/css/cssgroup.css" rel="stylesheet" />
}



<div class="container-lg py-4">
    <div class="row">
        <nav style="--bs-breadcrumb-divider: '»';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                <li class="breadcrumb-item active">Chính sách Bảo hiểm y tế</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-9">
            <article class="blog-post">
                <h2 class="blog-post__title">
                    Chính sách Bảo hiểm y tế
                </h2>
                <div class="blog-post__meta">
                    <p><i class="far fa-calendar-alt me-1"></i><span>Ngày cập nhật: </span>15/08/2023</p>
                    <p>
                        <i class="far fa-user me-1"></i><span>Tác giả: </span><a href="" class="blog-post__author">
                            Bệnh viện Thu Cúc
                        </a>
                    </p>
                    <p><i class="far fa-eye me-1"></i><span>168 </span>lượt xem</p>
                </div>
                <div class="blog-post__content">
                    <p>
                        Nhằm đảm bảo quyền lợi tối đa cho mọi người bệnh sở hữu thẻ bảo hiểm y tế (BHYT) khi khám và chữa bệnh tại Hệ thống Y tế Thu Cúc TCI, Bệnh viện ĐKQT Thu Cúc và các phòng khám thuộc Hệ thống Y tế Thu Cúc áp dụng chính sách bảo hiểm y tế và thông tuyến bảo hiểm y tế theo đúng quy định của Bộ Y tế ban hành. Theo đó, người dân khi khám, chữa bệnh tại các cơ sở của Hệ thống Y tế Thu Cúc được hưởng đầy đủ mọi quyền lợi mà thẻ bảo hiểm y tế quy định, đồng thời người bệnh còn được sử dụng dịch vụ y tế chất lượng cao, thủ tục thanh toán bảo hiểm y tế nhanh gọn, phục vụ người bệnh chuyên nghiệp và chu đáo.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/support/chinh-sach-bao-hiem-y-te.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Hệ thống Y tế Thu Cúc cung cấp dịch vụ khám và chữa bệnh uy tín, đồng thời áp dụng thanh toán BHYT đúng theo quy định ban hành được nhiều người dân tin tưởng và lựa chọn.
                        </p>
                    </div>
                    <h2 class="blog-post-content-title">1. Mức hưởng bảo hiểm y tế đúng tuyến theo quy định của Luật bảo hiểm y tế</h2>
                    <p>
                        Thông tin về mức hưởng KCB BHYT của người có thẻ BHYT được mã hóa tại ô thứ 2, được ký hiệu bằng số (theo số thứ tự từ 1 đến 5).
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/support/bhyt-600x479.png" class="blog-post__caption"  />
                        <p class="blog-post__note">
                            Ô thứ 2 của thẻ BHYT cho biết thông tin về mức hưởng KCB BHYT.
                        </p>
                    </div>
                    <p>
                        Ký hiệu bằng số 1: Được quỹ BHYT thanh toán 100% chi phí KCB thuộc phạm vi chi trả BHYT, bao gồm các đối tượng hưởng có ký hiệu là: CC, TE.
                        <br />
                        <br />
                        Ký hiệu bằng số 2: Được quỹ BHYT thanh toán 100% chi phí KCB thuộc phạm vi chi trả BHYT, bao gồm các đối tượng hưởng có ký hiệu là: CK, CB, KC, HN, DT, DK, XD, BT, TS.
                        <br />
                        <br />
                        Ký hiệu bằng số 3: Được quỹ BHYT thanh toán 95% chi phí KCB thuộc phạm vi chi trả BHYT, bao gồm các đối tượng hưởng có ký hiệu là: HT, TC, CN.
                        <br />
                        <br />
                        Ký hiệu bằng số 4: Được quỹ BHYT thanh toán 80% chi phí KCB thuộc phạm vi chi trả BHYT, bao gồm các đối tượng hưởng có ký hiệu là: DN, HX, CH, NN, TK, HC, XK, TB, NO, CT, XB, TN, CS, XN, MS, HD, TQ, TA, TY, HG, LS, PV, HS, SV, GB, GD.
                        <br />
                        <br />
                        Ký hiệu bằng số 5: Được quỹ BHYT thanh toán 100% chi phí KCB, kể cả chi phí KCB ngoài phạm vi được hưởng BHYT; chi phí vận chuyển, bao gồm các đối tượng hưởng có ký hiệu là QN, CA, CY.
                    </p>

                    <h2 class="blog-post-content-title">2. Bảo hiểm y tế thông tuyến huyện, tỉnh theo luật bảo hiểm y tế</h2>
                    <h3 class="blog-post-content-title-chill">
                        * BHYT thông tuyến huyện:
                    </h3>
                    <p>
                        <strong>
                            Địa điểm áp dụng: Phòng khám ĐKQT Thu Cúc cơ sở 216 Trần Duy Hưng, Cầu Giấy, Hà Nội từ tháng 7/2019
                        </strong>
                    </p>
                    <p class="text-right">
                        <strong>
                            Phòng khám ĐK Thu Cúc cơ sở 32 Đại Từ, Hoàng Mai, Hà Nội từ tháng 12/2021
                        </strong>
                    </p>
                    <p>
                        Theo đó người dân khi sở hữu Thẻ bảo hiểm y tế với nơi đăng kí khám chữa bệnh ban đầu ghi trên thẻ là tại các cơ sở y tế thuộc tuyến quận, huyện, xã, phường, y tế cơ quan, trạm xá và các bệnh viện hạng 3 trong cùng địa bàn thành phố Hà Nội sẽ được hưởng đầy đủ quyền lợi trên thẻ BHYT giống như khám đúng tuyến.
                        <br />
                        <br />
                        Ví dụ: Người bệnh A, sở hữu thẻ Bảo hiểm y tế có nơi đăng ký khám chữa bệnh (KCB) ban đầu ghi trên thẻ là tại Trung tâm y tế quận Thanh Xuân, thì khi người bệnh A đến khám chữa bệnh tại Phòng khám ĐKQT Thu Cúc (216 Trần Duy Hưng, Cầu Giấy, Hà Nội) sẽ được áp dụng chính sách “thông tuyến số 3” khi đó người bệnh được hưởng đầy đủ quyền lợi trên thẻ BHYT như khám chữa bệnh tại Trung tâm Y tế quận Thanh Xuân.
                    </p>
                    <h3 class="blog-post-content-title-chill">
                        * BHYT thông tuyến tỉnh:
                    </h3>
                    <p>
                        <strong>
                            Địa điểm áp dụng: Bệnh viện Đa khoa Quốc tế Thu Cúc 286 Thụy Khuê, Tây Hồ, Hà Nội từ ngày 01/01/2021
                        </strong>
                    </p>
                    <p>
                        Từ ngày 01/01/2021, chính sách thông tuyến tỉnh bảo hiểm y tế (BHYT) sẽ chính thức được triển khai. Theo đó người tham gia BHYT khi đi khám chữa bệnh không đúng tuyến tại cơ sở khám chữa bệnh tuyến tỉnh như tại Bệnh viện ĐKQT Thu Cúc sẽ được quỹ BHYT chi trả chi phí điều trị nội trú theo phạm vi quyền lợi và mức hưởng như trường hợp khám chữa bệnh đúng tuyến.                        <br />
                        <br />
                        Ví dụ: Người bệnh A, sở hữu thẻ Bảo hiểm y tế có nơi đăng ký khám chữa bệnh (KCB) ban đầu ghi trên thẻ tại Bệnh viện Đa khoa Tỉnh Hà Nam khi đi khám chữa bệnh trái tuyến tại Bệnh viện ĐKQT Thu Cúc (286 Thụy Khuê, Tây Hồ, Hà Nội) sẽ được hưởng 100% chi phí điều trị nội trú theo mức hưởng khi đi khám, chữa bệnh đúng tuyến.
                    </p>
                    <p><strong><em>Cần lưu ý rằng:&nbsp;</em></strong></p>
                    <ul class="custom-list">
                        <li>
                            Thông tuyến tỉnh chỉ áp dụng đối với trường hợp người bệnh điều trị nội trú. Nếu có thẻ BHYT tự đi khám ngoại trú (không nhập viện) thì quỹ BHYT sẽ không hỗ trợ chi trả mà người bệnh sẽ phải tự mình thanh toán chi phí khám, chữa bệnh. Để được thanh toán BHYT khi khám, chữa bệnh ngoại trú tại bệnh viện tuyến tỉnh, người bệnh phải có giấy chuyển tuyến từ bệnh viện tuyến dưới thì mới được quỹ BHYT thanh toán chi phí khám, chữa bệnh theo mức hưởng của từng đối tượng tham BHYT.
                        </li>
                        <li>
                            Không phải ai cũng cũng được thanh toán 100% tiền điều trị nội trú khi đi KCB trái tuyến tỉnh, chỉ những người được hưởng 100% chi phí KCB đúng tuyến mới được thanh toán toàn bộ chi phí điều trị nội trú trái tuyến tỉnh. Các đối tượng khác hưởng theo mức đúng tuyến của mình. Ví dụ: Đối tượng hưởng 100% chi chí KCB đúng tuyến (như ở mục 2) sẽ được thanh toán 100% chi phí điều trị nội trú; Đối tượng hưởng 95% chi chí KCB đúng tuyến (như ở mục 2) sẽ được thanh toán 95% chi phí điều trị nội trú; Đối tượng hưởng 80% chi chí KCB đúng tuyến (như ở mục 2) sẽ được thanh toán 80% chi phí điều trị nội trú.
                        </li>
                    </ul>

                    <h2 class="blog-post-content-title">3. Hưởng dịch vụ y tế chất lượng cao tại Thu Cúc với đầy đủ quyền lợi BHYT</h2>

                    <p>
                        Hệ thống Y tế Thu Cúc là đơn vị y tế dành được rất nhiều sự tin tưởng và yêu mến từ quý người bệnh. Theo đánh giá của Sở Y tế Hà Nội chấm điểm: Bệnh viện Thu Cúc thuộc TOP 3 bệnh viện tư nhân có điểm chất lượng cao nhất. Với 99.9% người bệnh hài lòng khi sử dụng dịch vụ tại Thu Cúc.
                        <br />
                        <br />
                        Không phân biệt chế độ phục vụ giữa người khám, chữa bệnh có thẻ bảo hiểm và người không có thẻ bảo hiểm y tế. Tại Hệ thống Y tế Thu Cúc, bất kỳ ai khi đến khám và điều trị đều được đón tiếp tận tình, có thể chủ động đặt lịch hẹn trước để được khám đúng giờ, thủ tục thăm khám đơn giản, nhanh chóng và phục vụ chu đáo như người nhà.
                        <br />
                        <br />
                        – Quy trình khám chữa bệnh cẩn thận, chuyên nghiệp
                        <br />
                        <br />
                        – Cơ sở vật chất, trang thiết bị hiện đại
                        <br />
                        <br />
                        – Phục vụ người bệnh chu đáo
                        <br />
                        <br />
                        – Thủ tục nhanh gọn
                        <br />
                        <br />
                        – Chi phí khám chữa bệnh hợp lý
                    </p>

                    <h2 class="blog-post-content-title">4. Các trường hợp muốn chuyển thẻ BHYT về Hệ thống y tế Thu Cúc</h2>
                    <p>
                        – Đăng ký thẻ bảo hiểm y tế qua doanh nghiệp nơi đang làm việc: liên hệ phòng nhân sự hoặc phòng y tế tại công ty để đổi nơi khám chữa bệnh ban đầu thành Bệnh viện ĐKQT Thu Cúc hoặc Phòng khám ĐKQT Thu Cúc.
                        <br />
                        <br />
                        – Các đối tượng hưu trí, trẻ em, người có công với cách mạng, người mất sức lao động, người hưởng bảo trợ xã hội: đến cơ quan Bảo hiểm xã hội quận, huyện nơi đăng ký hộ khẩu thường trú xin đổi nơi đăng ký khám chữa bệnh ban đầu về Bệnh viện ĐKQT Thu Cúc hoặc Phòng khám ĐKQT Thu Cúc vào tháng đầu tiên của quý để xin đổi nơi KCB ban đầu.
                        <br />
                        <br />
                        – Thẻ tự nguyện: đăng ký mua tại phường (kèm theo hộ khẩu thường trú + chứng minh thư) và đăng ký khám chữa bệnh ban đầu tại Bệnh viện ĐKQT Thu Cúc (mã 01139) hoặc Phòng khám ĐKQT Thu Cúc (Mã 01269).
                        <br />
                        <br />
                        – Với những người bệnh đã có thẻ BHYT tại các bệnh viện, cơ sở y tế thuộc tuyến quận, huyện, xã, phường, y tế cơ quan,vv thì không cần phải thay đổi nơi đăng kí khám chữa bệnh ban đầu mà vẫn có thể áp dụng tại Phòng khám ĐKQT Thu Cúc như khám đúng tuyến, theo chính sách Thông tuyến bảo hiểm y tế quy định.
                    </p>
                    <h2 class="blog-post-content-title">5. Ý kiến người bệnh</h2>
                    <p>
                    <p style="text-align: justify;">
                        <em>
                            “Tôi tham gia bảo hiểm y tế theo cơ quan, trước đây mỗi khi thanh toán,
                            tôi rất ngại vì thủ tục phức tạp, mất thời gian. Nhưng khi đến khám tại Thu Cúc,
                            tôi rất vui vì mọi thủ tục thanh toán ở Thu Cúc đều rất nhanh gọn, chuyên nghiệp,
                            thanh toán đầy đủ quyền lợi bảo hiểm y tế theo đúng người bệnh khác đều được phục vụ rất tận tình,
                            chu đáo nên tôi cảm thấy rất hài lòng”.
                        </em>
                    </p>
                    <p style="text-align: right;">(Anh Bùi Văn Tuấn – Hoàn Kiếm, Hà Nội)</p>
                </div>
            </article>
        </div>

        <div class="col-md-3">
            <div class="position-sticky" style="top: 2rem;">
                <div class="widget-question">
                    <h3>Câu hỏi mới nhất</h3>
                    <hr />
                    <div class="widget-question__container">
                        <ul class="widget-question__list">
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Làm sao để giải độc cơ thể?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Những triệu chứng phổ biến của ung thư phổi giai đoạn đầu</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Các dịch vụ sẽ nhận được khi khám sức khỏe doanh nghiệp tại Thu Cúc TCI</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Rối loạn tiền đình có dễ đột quỵ?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Người mắc đái tháo đường nên ăn những thực phẩm gì?</a></h3></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-news">
                    <h3>Tin tức mới nhất</h3>
                    <hr />
                    <ul class="widget-news__list">
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="form-register">
                    <h3 class="form-register__title">Đăng ký nhận tư vấn</h3>
                    <div class="form-register__container">
                        <p class="text-center">
                            Vui lòng để lại thông tin và nhu cầu của
                            Quý khách để được nhận tư vấn
                        </p>
                        @Html.Partial("~/Views/advise/_Advise.cshtml")

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
