
@{
    ViewBag.Title = "Hướng dẫn khám bệnh tại Hệ thống y tế Thu Cúc TCI";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Styles {
    <link href="~/asset/style/page/post.min.css" rel="stylesheet" />
    <link href="~/asset/css/cssgroup.css" rel="stylesheet" />
}



<div class="container-lg py-4">
    <div class="row">
        <nav style="--bs-breadcrumb-divider: '»';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                <li class="breadcrumb-item active">Hướng dẫn khám bệnh tại Hệ thống y tế Thu Cúc TCI</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-9">
            <article class="blog-post">
                <h2 class="blog-post__title">
                    Hướng dẫn khám bệnh tại Hệ thống y tế Thu Cúc TCI
                </h2>
                <div class="blog-post__meta">
                    <p><i class="far fa-calendar-alt me-1"></i><span>Ngày cập nhật: </span>15/08/2023</p>
                    <p>
                        <i class="far fa-user me-1"></i><span>Tác giả: </span><a href="" class="blog-post__author">
                            Bệnh viện Thu Cúc
                        </a>
                    </p>
                    <p><i class="far fa-eye me-1"></i><span>168 </span>lượt xem</p>
                </div>
                <div class="blog-post__content">
                    <p style="text-align: justify;"><em><strong>Là một trong những hệ thống y tế ngoài công lập lớn nhất Hà Nội hiện nay, Hệ thống y tế Thu Cúc TCI luôn mong muốn và nỗ lực mang tới cho người bệnh những dịch vụ y tế chất lượng nhất với phong cách phục vụ chuyên nghiệp, chu đáo nhất. Để việc thăm khám của người bệnh diễn ra thuận lợi, nhanh chóng và đạt hiệu quả cao nhất, bệnh viện xin gửi tới quý người bệnh một số lưu ý về thủ tục và quy trình khám chữa bệnh như sau:</strong></em></p>
                    <div class="blog-post__img">
                        <img src="~/asset/support/1.jpg" class="blog-post__caption"  />
                        <p class="blog-post__note">
                            Với tiêu chuẩn chất lượng cao và chi phí hợp lý, Hệ thống y tế Thu Cúc TCI luôn là sự lựa chọn uy tín của đông đảo người bệnh.
                        </p>
                    </div>
                    <h2 class="blog-post-content-title">
                        I. Xác định cơ sở thăm khám
                    </h2>
                    <p>
                        Hệ thống y tế Thu Cúc TCI gồm có Bệnh viện Đa khoa Quốc tế Thu Cúc (286 Thụy Khuê, Tây Hồ, Hà Nội) và chuỗi các phòng khám quy mô lớn tương đương với bệnh viện tại các địa điểm khác nhau nhằm tạo điều kiện thuận lợi cho khách hàng ở nhiều khu vực. Cụ thể, Hệ thống y tế Thu Cúc TCI hiện đang có các cơ sở phòng khám ngoài bệnh viện như sau:
                    </p>
                    <ul class="custom-list">
                        <li>
                            Phòng khám Đa khoa Thu Cúc – 216 Trần Duy Hưng, Cầu Giấy, Hà Nội: Cơ sở tại Trần Duy Hưng diện tích hơn 7000m2, có vị trí giao thông thuận lợi phù hợp với khách hàng ở khu vực lân cận và phía Tây Thủ Đô.
                        </li>
                        <li>
                            Phòng khám Đa khoa Thu Cúc – 32 Đại Từ, Hoàng Mai, Hà Nội: Cơ sở tại 32 Đại Từ diện tích hơn 7000m2 có vị trí giao thông thuận lợi phù hợp với khách hàng ở khu vực lân cận và gần bến xe Giáp Bát, bến xe Nước Ngầm, rất thuận lợi cho khách hàng ở khu vực phía Nam Hà Nội.
                        </li>
                    </ul>

                    <h2 class="blog-post-content-title">
                        II. Phạm vi dịch vụ của các cơ sở thuộc Hệ thống y tế Thu Cúc TCI
                    </h2>
                    <p>
                        Mặc dù chất lượng khám chữa bệnh giữa các cơ sở thuộc Hệ thống y tế Thu Cúc TCI là như nhau, tuy nhiên phạm vi hoạt động của bệnh viện và các phòng khám có một số điểm khác biệt.
                    </p>

                    <ul class="custom-list">
                        <li>
                            Bệnh viện Đa khoa Quốc tế Thu Cúc tại 286 Thụy Khuê, Tây Hồ, Hà Nội được xem là đầu não của Hệ thống y tế Thu Cúc TCI với quy mô khám chữa bệnh và đáp ứng dịch vụ chuyên sâu. Bệnh viện có 14 khoa chủ chốt đáp ứng đầy đủ khám chữa bệnh, nội khoa, ngoại khoa, sản khoa, nhi khoa, điều trị nội trú, điều trị ung thư. Bên cạnh thực hiện được tất cả dịch vụ như các cơ sở khác, Bệnh viện còn thực hiện các dịch vụ đỡ đẻ, mổ đẻ, phẫu thuật bệnh lý, điều trị nội trú, điều trị ung thư. Đây là những dịch vụ chỉ thực hiện tại Bệnh viện, không thực hiện tại các cơ sở phòng khám khác thuộc hệ thống.
                        </li>
                        <li>
                            Phòng khám Đa khoa Thu Cúc 216 Trần Duy Hưng và Phòng khám Đa khoa Thu Cúc 32 Đại Từ có phạm vi hoạt động như nhau. Hai cơ sở phòng khám này có quy mô tương đương với một bệnh viện, vì vậy có khám và điều trị hầu hết các bệnh lý nội khoa như nội chung, tim mạch, gan mật, tiêu hóa, tiết niệu, nội thần kinh…vv (không bao gồm nội trú), bệnh lý ngoại khoa (không bao gồm phẫu thuật), khám thai, khám phụ khoa (không bao gồm đỡ đẻ, mổ đẻ), khám nhi khoa, tai mũi họng, răng hàm mặt, mắt, da liễu, khám sức khỏe tổng quát, tầm soát ung thư (không bao gồm điều trị), nội soi tiêu hóa.
                        </li>
                    </ul>
                    <p>
                        <strong>
                            Lưu ý trường hợp cấp cứu:
                        </strong>
                    </p>
                    <ul class="custom-list">
                        <li>
                            Bệnh viện Đa khoa Quốc tế Thu Cúc trực cấp cứu 24/24
                            <ul class="custom-list">
                                <li>
                                    <i class="svg__fa-ambulance"></i>&nbsp;Cấp cứu (24/24):&nbsp;<b>0901 793 122</b>
                                </li>
                                <li>
                                    <i class="svg__fa-mang-thai"></i>&nbsp;Trực sản (24/24):&nbsp;<b>0936 245 499</b>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Các cơ sở phòng khám khác thuộc Hệ thống y tế Thu Cúc TCI trực cấp cứu trong giờ hành chính:
                            <ul class="custom-list">
                                <li>
                                    Cơ sở 216 Trần Duy Hưng: Cấp cứu (7h-17h):&nbsp;<b>0243 2123 222</b>
                                </li>
                                <li>
                                    Cơ sở 32 Đại Từ: Cấp cứu (8h-17h):&nbsp;<b>093 453 7883</b>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <h2 class="blog-post-content-title">
                        III. Quy trình khám chữa bệnh
                    </h2>

                    <p>
                        <strong>
                            Thứ tự ưu tiên người bệnh khám chữa bệnh
                        </strong>
                    </p>
                    <ol class="custom-list">
                        <li>Trường hợp cấp cứu</li>
                        <li>Trẻ em dưới 6 tuổi, người khuyết tật nặng, người già 80 tuổi trở lên, người có công với cách mạng, phụ nữ có thai.</li>
                        <li>Khách đặt hẹn (có dấu đã đặt hẹn)</li>
                        <li>Các người bệnh dịch vụ khác.</li>
                    </ol>
                    <p>
                        <strong>
                            Lưu ý quan trọng:
                        </strong>
                    </p>
                    <ul class="custom-list">
                        <li>
                            Để phục vụ khách hàng tốt nhất, hạn chế thời gian chờ đợi của người bệnh, Thu Cúc TCI khuyến khích khách hàng đặt lịch trước khi thăm khám.
                        </li>
                        <li>
                            Trong thời gian dịch bệnh Covid-19 vẫn diễn biến phức tạp, Hệ thống y tế Thu Cúc TCI luôn thực hiện nghiêm túc các quy định phòng chống dịch. Do đó, khách hàng khi tới thăm khám sẽ tuân thủ nguyên tắc phân luồng, khai báo y tế, sàng lọc Covid-19 theo quy định.
                        </li>
                        <li>
                            Trường hợp dịch bệnh diễn biến phức tạp không thể trực tiếp đến cơ sở y tế, người bệnh có thể gọi liên hệ bác sĩ online của Thu Cúc TCI theo số Bác sĩ online 0985.88.77.55 để được tư vấn hỗ trợ.
                        </li>
                        <li>
                            Trường hợp cần hỗ trợ giao thuốc tận nhà, người bệnh liên hệ <strong>Hotline giao thuốc tận nhà: 0936347266</strong>
                        </li>
                    </ul>
                    <h2 class="blog-post-content-title">
                        V. Bảo hiểm y tế và bảo hiểm bảo lãnh
                    </h2>
                    <p>
                        Hệ thống y tế Thu Cúc TCI áp dụng thanh toán bảo hiểm y tế theo đúng quy định của nhà nước và bảo hiểm bảo lãnh theo hợp đồng thực hiện với các hãng bảo hiểm. Một số lưu ý về sự khác nhau về bảo hiểm ở các cơ sở y tế trong hệ thống y tế Thu Cúc TCI.
                    </p>
                    <p>
                        <strong>
                            Bảo hiểm y tế
                        </strong>
                    </p>
                    <ul class="custom-list">
                        <li>
                            Bệnh viện Đa khoa Quốc tế Thu Cúc là bệnh viện hạng II, tương đương tuyến tỉnh. Vì vậy, bệnh viện được áp dụng thông tuyến tỉnh trên toàn quốc theo luật bảo hiểm y tế có hiệu lực từ 1/1/2021. Theo đó, khách hàng có thẻ bảo hiểm y tế ở bất cứ đâu đều được áp dụng thanh toán 100% theo quyền lợi bảo hiểm của thẻ khi điều trị nội trú tại Bệnh viện Đa khoa Quốc tế Thu Cúc.
                        </li>
                        <li>
                            Các cơ sở phòng khám của Hệ thống y tế Thu Cúc TCI gồm 216 Trần Duy Hưng, và 32 Đại Từ đều thuộc hạng III và được áp dụng thông tuyến huyện trên địa bàn Hà Nội. Người bệnh có thẻ bảo hiểm y tế tại các cơ sở y tế thuộc hạng 3 hạng 4 như bệnh viện tuyến tuyện, trạm y tế xã, phường, phòng khám…vv đều được áp dụng thông tuyến tại các cơ sở phòng khám của Thu Cúc TCI.
                        </li>
                    </ul>
                    <p>
                        Chi tiết về bảo hiểm y tế người bệnh tìm hiểu thêm TẠI ĐÂY
                    </p>
                    <p>
                        <strong>
                            Bảo hiểm bảo lãnh
                        </strong>
                    </p>
                    <ul class="custom-list">
                        <li>
                            Hệ thống y tế Thu Cúc TCI hợp tác với các hãng bảo hiểm phi nhân thọ như Bảo Việt, PTI, PVI, Vietin, Insmart, BIC, MIC…vv
                        </li>
                        <li>
                            Chi tiết về bảo hiểm bảo lãnh người bệnh tìm hiểu thêm TẠI ĐÂY
                        </li>
                    </ul>
                    <h2 class="blog-post-content-title">
                        VI. Một số lưu ý trước khi thực hiện chẩn đoán cận lâm sàng
                    </h2>
                    <div class="blog-post__img">
                        <img src="~/asset/support/IMG_5803-2.jpg" class="blog-post__caption"  />
                        <p class="blog-post__note">
                            Xét nghiệm máu là một trong những dịch vụ y tế cơ bản và quan trọng nhất trong việc tầm soát và chẩn đoán bệnh.
                        </p>
                    </div>
                    <h3 class="blog-post-content-title-chill">
                        1.Đối với các dịch vụ xét nghiệm
                    </h3>
                    <h4 style="text-align: justify; font-size: 1.125rem;">
                        <em>
                            <strong>a/ Xét nghiệm huyết học</strong>
                        </em>
                    </h4>
                    <p>
                        Xét nghiệm huyết học là một trong những xét nghiệm thường quy quan trọng khi người bệnh đến khám ở bất cứ cơ sở khám chữa bệnh nào. Xét nghiệm huyết học bao gồm các xét nghiệm cụ thể như: xét nghiệm công thức máu; xét nghiệm; nhóm máu; xét nghiệm huyết học định lượng fibrinogen…Đây là một trong những xét nghiệm có vai trò quan trọng nhất đối với việc tầm soát, chẩn đoán bệnh. Do đó, để đảm bảo kết quả xét nghiệm khách quan, chính xác nhất; người bệnh nên nhịn ăn, không uống nước ngọt, sữa, nước hoa quả, rượu, chè, cà phê, trong vòng 12 tiếng trước khi làm xét nghiệm. Thời điểm lấy máu để làm xét nghiệm thích hợp nhất là vào buổi sáng trước khi ăn sáng.
                    </p>
                    <h4 style="text-align: justify; font-size: 1.125rem;">
                        <em>
                            <strong>b/Xét nghiệm nước tiểu</strong>
                        </em>
                    </h4>
                    <p>
                        Xét nghiệm nước tiểu cũng là một trong những phương pháp chẩn đoán cận lâm sàng được sử dụng nhiều đối với bệnh nhân có nghi ngờ các bệnh lí liên quan đến gan mật…Trước khi làm xét nghiệm nước tiểu, người bệnh cần vệ sinh bộ phận sinh dục ngoài thật sạch sẽ, đi tiểu một chút, sau đó lấy phần nước tiểu giữa dòng vào ống đựng sạch do bệnh viện cấp và gửi đi làm xét nghiệm.
                    </p>
                    <h4 style="text-align: justify; font-size: 1.125rem;">
                        <em>
                            <strong>c/ Xét nghiệm tế bào cổ tử cung</strong>
                        </em>
                    </h4>
                    <p>
                        Đây là xét nghiệm đặc trưng dành cho phụ nữ đã từng quan hệ tình dục nhằm phát hiện sớm ung thư cổ tử cung và một số bệnh lí phụ khoa khác. Nên làm xét nghiệm tốt nhất từ ngày thứ 5 sau khi sạch kinh. Và tuyệt đối không áp dụng xét nghiệm này đối với phụ nữ đang mang thai, đang trong chu kì kinh nguyệt hoặc ra máu âm đạo và viêm nhiễm thấy rõ. Với dạng xét nghiệm này, người bệnh sẽ được thăm khám, tư vấn và chỉ định cụ thể bởi bác sỹ chuyên khoa sản,phụ khoa.
                    </p>
                    <div class="blog-post__img">
                        <p class="blog-post__note">
                            Siêu âm màu 4D là một trong những dịch vụ y tế được đánh giá cao tại Bệnh viện Thu Cúc.
                        </p>
                    </div>
                    <h3 class="blog-post-content-title-chill">
                        2. Đối với siêu âm
                    </h3>
                    <p style="text-align: justify;"><strong>a/ Đối với siêu ổ bụng, siêu âm bàng quang và các cơ quan vùng tiểu khung (tử cung, phần phụ, tuyến tiền liệt…): </strong>Người bệnh nên uống nhiều nước và nhịn tiểu căng để hình ảnh siêu âm được rõ nét nhất.</p>
                    <p style="text-align: justify;"><strong>b/ Đối với siêu âm túi mật, tụy:</strong> Người bệnh cần nhịn ăn và không uống nước trước khi siêu âm ít nhất 4 tiếng.</p>
                    <div class="blog-post__img">
                        <img src="~/asset/support/IMG_1116-2.jpg" class="blog-post__caption" />
                        <p class="blog-post__note">
                            Hệ thống máy chụp X-quang công nghệ mới nhất tại bệnh viện Thu Cúc.
                        </p>
                    </div>
                    <h3 class="blog-post-content-title-chill">
                        3. Đối với chụp X-quang; CT- Scanner
                    </h3>
                    <p>
                        Đây là những phương pháp chẩn đoán hình ảnh hiện đại, cho kết quả nhanh và độ chính xác cao. Khi sử dụng phương pháp này, quý người bệnh sẽ được nhân viên hướng dẫn sử dụng trang phục bệnh viện cũng như các thao tác cần thiết trong khi thực hiện. Để kết quả chụp chính xác nhất, người bệnh chú ý làm theo đúng chỉ dẫn của chuyên viên trong phòng chụp, không mang theo, đeo các đồ trang sức, vật dụng kim loại trong khi chụp. Đặc biệt, đối với các người bệnh nữ đang mang bầu hoặc nghi ngờ có thai tuyệt đối không sử dụng phương pháp này vì tia X có thể ảnh hưởng đến sức khỏe và sự phát triển của thai nhi.
                    </p>
                    <div class="blog-post__img">
                        <img src="~/asset/support/IMG_7380-2.jpg" />
                        <p class="blog-post__note">
                            Rất nhiều bệnh lí được chẩn đoán chính xác nhờ phương pháp nội soi.
                        </p>
                    </div>
                    <h3 class="blog-post-content-title-chill">
                        4. Đối với nội soi dạ dày – tá tràng
                    </h3>
                    <p>
                        Đối với dịch vụ nội soi, người bệnh sẽ được các bác sỹ chuyên khoa khám lâm sàng trước khi chỉ định thực hiện dịch vụ để đảm bảo độ an toàn và hiệu quả sau nội soi. Để có kết quả nội soi chính xác nhất, người bệnh nên nhịn ăn và hạn chế uống nước ít nhất 6 tiếng trước khi tiến hành nội soi. Đối với nội soi đại tràng, trước khi nội soi cần thực hiện uống thuốc làm sạch đại tràng trong khoảng 2 đến 4 tiếng. Để được hướng dẫn chi tiết, vui lòng gọi tổng đài đặt hẹn thực hiện dịch vụ để được hướng dẫn.
                        <br />
                        <br />
                        Với mỗi dịch vụ y tế tại Thu Cúc TCI, người bệnh đều được các nhân viên y tế hướng dẫn tận tình, chu đáo về thủ tục và các bước tiến hành. Người bệnh cũng sẽ được thăm khám, tư vấn và thực hiện dịch vụ trực tiếp bởi các bác sỹ chuyên khoa hàng đầu với hệ thống máy móc, trang thiết bị y tế hiện đại, tiêu chuẩn quốc tế đảm bảo an toàn và đem lại hiệu quả tối ưu nhất.
                    </p>
                </div>
            </article>
        </div>

        <div class="col-md-3">
            <div class="position-sticky" style="top: 2rem;">
                <div class="widget-question">
                    <h3>Câu hỏi mới nhất</h3>
                    <hr />
                    <div class="widget-question__container">
                        <ul class="widget-question__list">
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Làm sao để giải độc cơ thể?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Những triệu chứng phổ biến của ung thư phổi giai đoạn đầu</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Các dịch vụ sẽ nhận được khi khám sức khỏe doanh nghiệp tại Thu Cúc TCI</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Rối loạn tiền đình có dễ đột quỵ?</a></h3></li>
                            <li class="widget-question__item"><h3><a href="" class="widget-question__link" target="_blank">Người mắc đái tháo đường nên ăn những thực phẩm gì?</a></h3></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-news">
                    <h3>Tin tức mới nhất</h3>
                    <hr />
                    <ul class="widget-news__list">
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                        <li class="widget-news__item">
                            <article>
                                <div class="widget-news__thumb">
                                    <a href="" target="_blank">
                                        <img src="https://cdn.benhvienthucuc.vn/wp-content/uploads/2023/08/tci-run-for-health-3-150x150.png" width="150" height="150">
                                    </a>
                                </div>
                                <div class="widget-news__text">
                                    <h3 class="widget-news__title">
                                        <a href="" target="_blank">
                                            TCI Run For Health 2023: Hàng ngàn người tham gia mỗi tháng
                                        </a>
                                    </h3>
                                </div>
                                <div class="widget-news__text-excerpt">
                                    Giải chạy bộ trực tuyến “TCI Run For Health 2023” được tổ chức bởi Hệ thống Y tế…
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="form-register">
                    <h3 class="form-register__title">Đăng ký nhận tư vấn</h3>
                    <div class="form-register__container">
                        <p class="text-center">
                            Vui lòng để lại thông tin và nhu cầu của
                            Quý khách để được nhận tư vấn
                        </p>
                        @Html.Partial("~/Views/advise/_Advise.cshtml")

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
